{% extends "hrd_app/master/base.html" %}

{% block breadcrumb %}

<!-- <div class="alert alert-warning alert-dismissible tx-info"><marquee class="py-0" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    Untuk saat ini proses absensi tidak dapat dilakukan, sampai informasi ini ditiadakan.  
</marquee></div> -->

<div class="br-pagebody">  

    <div class="br-section-wrapper">
        <!-- Pesan Error -->
        {% for message in messages %}
        <div class="container-fluid p-0">
            {% if 'safe' in message.tags %}
            <div class="alert alert-info alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <!-- Absensi -->
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Detail Pegawai - Promosi / Demosi</h6>
    
        <!-- Info absensi -->        
        <div class="d-flex align-items-center justify-content-start">     
            <div class="mg-r-auto">   
                            
            <!-- Button Registrasi -->
            <button data-target="#pilih_tgl_proses" data-toggle="modal" class="btn btn-primary mg-b-6">Registrasi</button>

            <!-- Button Pegawai Aktif -->
            <a href="{% url 'pegawai' sid %}"><button class="btn btn-success mg-b-6">Pegawai Aktif</button></a>

            <!-- Button Pegawai Non Aktif -->
            <a href="{% url 'non_aktif' sid %}"><button class="btn btn-danger mg-b-6">Pegawai Non Aktif</button></a> &nbsp; &nbsp; &nbsp; 

            <a href="{% url 'general_data' idp %}" class="btn btn-outline-info mg-b-8">General Data</a>  
            <a href="{% url 'dapri' idp %}" class="btn btn-outline-info mg-b-8">Data Pribadi</a>
            <a href="{% url 'pkerja' idp %}" class="btn btn-outline-info mg-b-8">Pengalaman Kerja & Pendidikan</a> 
            <a href="{% url 'prodemo' idp %}" class="btn btn-info mg-b-8">Promosi / Demosi</a>  
            <a href="{% url 'sangsi' idp %}" class="btn btn-outline-info mg-b-8">Sangsi</a> 

            </div>          
        </div>

        <br>   

        <div class="row">
            {% csrf_token %}
            <div class="col-lg-6">
                <div class="form-layout form-layout-2">
                    <div class="row no-gutters">
                        
                        <!-- Promosi -->
                        <div class="col-md-12 mg-t--1 mg-md-t-0">
                            <div class="form-group mg-md-l--1">
                                <div class="flex justify-between">
                                    <label class="form-control-label tx-gray-800">Promosi:</label>
                                    <button class="form-control-label btn btn-primary" data-toggle="modal" data-target="#promosiModal">Tambah Promosi</button>
                                </div>
                                <table class="table" id="tablePromosi">
                                    <thead>
                                        <tr>
                                            <th><span class="tx-inverse tx-13">Tanggal</span></th>
                                            <th><span class="tx-inverse tx-13">Jabatan Sebelum</span></th>
                                            <th><span class="tx-inverse tx-13">Jabatan Saat Ini</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>  
                </div>      
            </div> 
            
            <div class="col-lg-6">
                <div class="form-layout form-layout-2">
                    <div class="row no-gutters">

                        <!-- Demosi -->
                        <div class="col-md-12 mg-t--1 mg-md-t-0">
                            <div class="form-group mg-md-l--1">
                                <div class="flex justify-between">
                                    <label class="form-control-label tx-gray-800">Demosi:</label>
                                    <button class="form-control-label btn btn-warning" data-toggle="modal" data-target="#demosiModal">Tambah Demosi</button>
                                </div>
                                <table class="table" id="tableDemosi">
                                    <thead>
                                        <tr>
                                            <th><span class="tx-inverse tx-13">Tanggal</span></th>
                                            <th><span class="tx-inverse tx-13">Jabatan Sebelum</span></th>
                                            <th><span class="tx-inverse tx-13">Jabatan Saat Ini</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>  
                </div>      
            </div>
        </div>
    </div>

</div><!-- br-pagebody -->

<!-- Modal Promosi -->
<div class="modal fade" id="promosiModal" tabindex="-1" aria-labelledby="promosiModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="promosiModalLabel">Tambah Promosi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="flex gap-3 mb-3">
                <div class="w-full">
                    <input type="text" class="tgl2 form-control" placeholder="Tanggal" id='tgl_promosi'>
                </div>
            </div>
            <div class="flex gap-3 ">
                <div class="w-1/2">
                    <select name="jabatan_sebelum" disabled id="jabatan_sebelum_promosi">
                        {% for jbt in jabatan %}
                        {% if jbt.pk == jabatan_sebelum %}
                        <option value="{{jbt.pk}}" selected>{{jbt.jabatan}}</option>
                        {% else %}
                        <option value="{{jbt.pk}}">{{jbt.jabatan}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <input type="hidden" name="id" id="id" value="{{idp}}">
                </div>
                <div class="w-1/2">
                    <select name="jabatan_sekarang" id="jabatan_sekarang_promosi">
                        <option value="">Pilih Jabatan Sekarang</option>
                        {% for jbt in jabatan %}
                        <option value="{{jbt.pk}}">{{jbt.jabatan}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
          <button type="button" class="btn btn-primary" id="buttonTambahPromosi">Tambah</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Demosi -->
<div class="modal fade modal-xl" id="demosiModal" tabindex="-1" aria-labelledby="demosiModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="demosiModalLabel">Tambah Demosi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-4">
            <div class="flex gap-3 mb-3">
                <div class="w-full">
                    <input type="text" class="tgl2 form-control" placeholder="Tanggal" id='tgl_demosi'>
                </div>
            </div>
            <div class="flex gap-3 ">
                <div class="w-1/2">
                    <select name="jabatan_sebelum" disabled id="jabatan_sebelum_demosi">
                        {% for jbt in jabatan %}
                        {% if jbt.pk == jabatan_sebelum %}
                        <option value="{{jbt.pk}}" selected>{{jbt.jabatan}}</option>
                        {% else %}
                        <option value="{{jbt.pk}}">{{jbt.jabatan}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="w-1/2">
                    <select name="jabatan_sekarang" id="jabatan_sekarang_demosi">
                        <option value="">Pilih Jabatan sekarang</option>
                        {% for jbt in jabatan %}
                        <option value="{{jbt.pk}}">{{jbt.jabatan}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
          <button type="button" class="btn btn-primary" id="buttonTambahDemosi">Tambah</button>
        </div>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}

{% block hrd_ajax %}

<script>
    $(document).ready(function() {
        const jabatanSebDemosiSelectize = $("#jabatan_sebelum_demosi").selectize()
        const jabatanSetDemosiSelectize = $("#jabatan_sekarang_demosi").selectize()
        const jabatanSebPromosiSelectize = $("#jabatan_sebelum_promosi").selectize()
        const jabatanSetPromosiSelectize = $("#jabatan_sekarang_promosi").selectize()
        const token = document.querySelector("[name=csrfmiddlewaretoken]").value

    const demosi = $("#tableDemosi").DataTable({
        ajax: {
            url:"{% url 'promodemo_json' idp %}",
            method:"POST",
            data:{status:"0"},
            headers:{"X-CSRFToken":token},
        },
        columns:[
            {
                data:"tgl"
            },
            {data:"jabatan_sebelum"},
            {data:"jabatan_sekarang"}
        ],
        "rowCallback": function (row, data) {
                $('td', row).eq(0).addClass('hitam');
                $('td', row).eq(1).addClass('hitam');
                $('td', row).eq(2).addClass('hitam');
                $('td', row).eq(3).addClass('hitam');
                $('td', row).eq(4).addClass('hitam');
                $('td', row).eq(5).addClass('hitam');
            },
            destroy: true,
            processing: true,
            searching: false,
            info: false,
        
    })
    const promosi = $("#tablePromosi").DataTable({
        ajax: {
            url:"{% url 'promodemo_json' idp %}",
            method:"POST",
            data:{status:"1"},
            headers:{"X-CSRFToken":token},
        },
        columns:[
            {
                data:"tgl"
            },
            {data:"jabatan_sebelum"},
            {data:"jabatan_sekarang"}
        ],
        "rowCallback": function (row, data) {
                $('td', row).eq(0).addClass('hitam');
                $('td', row).eq(1).addClass('hitam');
                $('td', row).eq(2).addClass('hitam');
                $('td', row).eq(3).addClass('hitam');
                $('td', row).eq(4).addClass('hitam');
                $('td', row).eq(5).addClass('hitam');
            },
            destroy: true,
            ordering: false,
            paging: false,
            processing: true,
            searching: false,
            info: false,
        
    })
        $("#buttonTambahDemosi").on("click",function(e){
            const tgl = $("#tgl_demosi").val()
            const jabatan_seb = $("#jabatan_sebelum_demosi").val()
            const jabatan_sek = $("#jabatan_sekarang_demosi").val()
            const id = $("#id").val()
            console.log(jabatan_seb,jabatan_sek)
            $.ajax({
                url:'{% url "tambah_prodemo" %}',
                method:"post",
                data:{tgl,jabatan_seb,status:0,jabatan_sek,id},
                headers:{"X-CSRFToken":token},
                success:(e) => {
                    $("#demosiModal").modal("hide")
                    demosi.ajax.reload()
                    promosi.ajax.reload()
                    jabatanSebDemosiSelectize[0].selectize.setValue(jabatan_sek)
                    const tgl = $("#tgl_demosi").val("")
                    jabatanSetDemosiSelectize[0].selectize.clear()
                },
                error:(err) => {
                    console.log(err)
                }
            })
    
        })

        $("#demosiModal").on("show.bs.modal",function(e){
            $.ajax({
                url:'{% url "getPegawai" idp %}',
                method:"post",
                headers:{"X-CSRFToken":token},
                success:(e) => {
                    console.log(e)
                    jabatanSebDemosiSelectize[0].selectize.setValue(e.data.fields.jabatan)
                        
                },
                error:(err) => {
                    console.log(err)
                }
            })
        })

        $("#promosiModal").on("show.bs.modal",function(e){
            $.ajax({
                url:'{% url "getPegawai" idp %}',
                method:"post",
                headers:{"X-CSRFToken":token},
                success:(e) => {
                    console.log(e)
                    jabatanSebPromosiSelectize[0].selectize.setValue(e.data.fields.jabatan)
                        
                },
                error:(err) => {
                    console.log(err)
                }
            })
        })
    
        $("#buttonTambahPromosi").on("click",function(e){
            const tgl = $("#tgl_promosi").val()
            const jabatan_seb = $("#jabatan_sebelum_promosi").val()
            const jabatan_sek = $("#jabatan_sekarang_promosi").val()
            const id = $("#id").val()
            $.ajax({
                url:'{% url "tambah_prodemo" %}',
                method:"post",
                data:{tgl,jabatan_seb,status:1,jabatan_sek,id},
                headers:{"X-CSRFToken":token},
                success:(e) => {
                    $("#promosiModal").modal("hide")
                    demosi.ajax.reload()
                    promosi.ajax.reload()
                    jabatanSebPromosiSelectize[0].selectize.setValue(jabatan_sek)
                    const tgl = $("#tgl_promosi").val("")
                    jabatanSetPromosiSelectize[0].selectize.clear()
                },
                error:(err) => {
                    console.log(err)
                }
            })
        })
    });


</script>   
 
<!-- Modal Script -->
<script>

    $('#detailPegawai').on('show.bs.modal', function (e) {
      
        var didp = $(e.relatedTarget).data('idp');
        var dprd = $(e.relatedTarget).data('prd');
        var dthn = $(e.relatedTarget).data('thn');
        var dnama = $(e.relatedTarget).data('nama');

        document.getElementById('namanya').innerHTML = dnama;

        var table2 = $('#tabelku2').DataTable({
            
            "ajax": "../dlembur_json/"+didp+"/"+dprd+"/"+dthn,

            columns: [

                { data: 'tgl' },
                { data: 'lembur' },
                { data: 'addby' },
                { data: 'addtime' },
                { data: 'editby' },
                { data: 'edittime' },
                { 
                    data: null,
                    "render": function(data, type, row, meta){    
                        data = '<button data-target="#batalLembur" data-toggle="modal" class="btn btn-sm btn-danger mb-1 tx-12" data-id_batal='+row.id+'>Batalkan</button>';
                        return data;
                    } 
                },
            
            ],

            "rowCallback": function (row, data) {
                $('td', row).eq(0).addClass('hitam');
                $('td', row).eq(1).addClass('hitam');
                $('td', row).eq(2).addClass('hitam');
                $('td', row).eq(3).addClass('hitam');
                $('td', row).eq(4).addClass('hitam');
                $('td', row).eq(5).addClass('hitam');
            },

            destroy: true,
            ordering: false,
            paging: false,
            processing: true,
            searching: false,
            info: false,
        });
            
    });

</script>


{% endblock hrd_ajax %}