{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static "img/ahrisicon.png" %}">
    <title>Print Laporan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="{% static "css/print.css" %}">
</head>
<body> 
    <div class="container">
        <div class="br-pagebody ml-5 mr-5">  
            {% for d in data %}
            <div class="br-section-wrapper mx-32 mt-3" style="page-break-after: always;">
                <section id="header" class="w-full flex justify-center mt-2">
                    <div class="flex-col font-light">
                        <div class="d-flex justify-content-center">
                            <h6 class="uppercase mx-auto" style="text-transform:uppercase;"><b>rekap absensi</b></h6>
                        </div>
                        <div class="d-flex justify-content-center">
                            PLAZA ASIA TASIKMALAYA
                        </div>
                        <div class="d-flex justify-content-center">
                            Jl. KHZ. Mustofa No.326, Tasikmalaya 46121
                        </div>
                        <div class="d-flex justify-content-center">
                            PHONE : (0265) 2352215 | FAX : (0265) 2352218
                        </div>
                    </div>
                </section>
                <section id='info' class="font-light border-b-2 border-b-gray-400 py-2  border-t-2 border-t-gray-400">
                    <div style="width: 100%;">
                        <div class="row d-flex justify-content-between">
                            <div class="col-7">
                                <table>
                                    <tbody>
                                        <tr style="line-height: 14px;">
                                            <td>Nama</td>
                                            <td>&nbsp; :</td>
                                            <td>&nbsp; {{d.nama}}</td>
                                        </tr>
                                        <tr style="line-height: 14px;">
                                            <td>NIK</td>
                                            <td>&nbsp; :</td>
                                            <td>&nbsp; {{d.nik}}</td>
                                        </tr>
                                        <tr style="line-height: 14px;">
                                            <td>Divisi</td>
                                            <td>&nbsp; :</td>
                                            <td>&nbsp; {{d.divisi}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-5">
                                <table>
                                    <tbody>
                                        <tr style="line-height: 14px;">
                                            <td>Periode</td>
                                            <td>&nbsp; :</td>
                                            <td class="text-nowrap">&nbsp; {{d.dari}} s/d {{d.sampai}}</td>
                                        </tr>
                                        <tr style="line-height: 14px;">
                                            <td>Kehadiran</td>
                                            <td>&nbsp; :</td>
                                            <td>&nbsp;{{d.kehadiran}} Dari {{d.hari}} </td>
                                        </tr>
                                        <tr style="line-height: 14px;">
                                            <td>Terlambat</td>
                                            <td>&nbsp; :</td>
                                            <td>&nbsp; {{d.terlambat}} Dari - ({{d.selisih}} Menit)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="body" class="w-full mb-10" style="width: 100%;">
                    {% if d.b > 0 %}
                    <table class="w-full mt-3" id="tabelku" style="width: 100%;">
                        {% csrf_token %}
                        <thead>
                          <tr class="head">
                            <th scope="col">Tanggal</th>
                            <th scope="col">Masuk</th>
                            <th scope="col">Klr. / Klr. 2</th>
                            <th scope="col">Kmbl. / Kmbl. 2</th>
                            <th scope="col">Pulang</th>
                            <th scope="col">Total Jam</th>
                            <th scope="col" style="width: 200px;">Keterangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ab in d.absensi %}
                        <tr class="body">
                            <td class="text-nowrap">
                                {% if ab.lbr %}
                                    <span class="text-danger text-nowrap">{{ab.tgl_absen}}</span>
                                {% else %}
                                    {{ab.tgl_absen}}
                                {% endif %}
                            </td>
                            <td class="text-nowrap">{{ab.masuk |safe}}</td>
                            <td class="text-nowrap">{{ab.keluar |safe}}</td>
                            <td class="text-nowrap">{{ab.kembali |safe}}</td>
                            <td class="text-nowrap">{{ab.pulang |safe}}</td>
                            <td class="text-nowrap">{{ab.tj |safe}}</td>
                            <td class="">{{ab.ket |safe}}</td>
                        </tr>
                        {% endfor %}
                            
                        </tbody>
                      </table>
                    {% else %}
                    <table class="w-full mt-3" id="tabelku">
                        {% csrf_token %}
                        <thead>
                          <tr class="head">
                            <th scope="col">Tanggal</th>
                            <th scope="col">Masuk</th>
                            <th scope="col">Klr. / Klr. 2</th>
                            <th scope="col">Kmbl. / Kmbl. 2</th>
                            <th scope="col">Pulang</th>
                            <th scope="col">Masuk (B)</th>
                            <th scope="col">Klr. / Klr. 2 (B)</th>
                            <th scope="col">Kmbl. / Kmbl. 2 (B)</th>
                            <th scope="col">Pulang (B)</th>
                            <th scope="col">Total Jam</th>
                            <th scope="col">Keterangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ab in d.absensi %}
                        <tr class="body">
                            <td class="text-nowrap">
                                {% if ab.lbr %}
                                    <span class="text-danger">{{ab.tgl_absen}}</span>
                                {% else %}
                                    {{ab.tgl_absen}}
                                {% endif %}
                            </td>
                            <td class="text-nowrap">{{ab.masuk |safe}}</td>
                            <td class="text-nowrap">{{ab.keluar |safe}}</td>
                            <td class="text-nowrap">{{ab.kembali |safe}}</td>
                            <td class="text-nowrap">{{ab.pulang |safe}}</td>
                            <td class="text-nowrap">{{ab.masuk_b |safe}}</td>
                            <td class="text-nowrap">{{ab.keluar_b |safe}}</td>
                            <td class="text-nowrap">{{ab.kembali_b |safe}}</td>
                            <td class="text-nowrap">{{ab.pulang_b |safe}}</td>
                            <td class="text-nowrap">{{ab.tj |safe}}</td>
                            <td class="tx-inverse text-nowrap">{{ab.ket |safe}}</td>
                        </tr>
                        {% endfor %}
                            
                        </tbody>
                      </table>
                    {% endif %}
                </section>
                <footer class="mt-5">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                           <i>*) Jika dicetak, laporan ini berlaku ketika telah di legalisir oleh HRD</i>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <div class="">
                                Tasikmalaya, {{d.now}}
                                <br>
                                <div class="d-flex justify-content-end">
    
                                    <b>HRD</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                {% comment %} 
                    <th>Tanggal</th>
                    <th>Masuk</th>
                    <th>Klr. / Klr. 2</th>
                    <th>Kmbl. / Kmbl. 2</th>
                    <th>Pulang</th>
                    <th>Masuk (B)</th>
                    <th>Klr. / Klr. 2 (B)</th>
                    <th>Kmbl. / Kmbl. 2 (B)</th>
                    <th>Pulang (B)</th>
                    <th>Total Jam</th>
                    <th>Keterangan</th>
                  </tr> {% endcomment %}
            </div>
            {% endfor %}
        </div><!-- br-pagebody -->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.min.js"></script>
</body>
</html>
<!-- <div class="alert alert-warning alert-dismissible tx-info"><marquee class="py-0" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    Untuk saat ini proses absensi tidak dapat dilakukan, sampai informasi ini ditiadakan.  
</marquee></div> -->

