{% extends "hrd_app/master/base.html" %}

{% block breadcrumb %}

<!-- <div class="alert alert-warning alert-dismissible tx-info"><marquee class="py-0" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    Untuk saat ini proses absensi tidak dapat dilakukan, sampai informasi ini ditiadakan.  
</marquee></div> -->

<div class="br-pagebody">  

    <div class="br-section-wrapper">
        <!-- Pesan Error -->
        {% for message in messages %}
        <div class="container-fluid p-0">
            {% if 'safe' in message.tags %}
            <div class="alert alert-info alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <!-- Absensi -->
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Data Pegawai Aktif</h6>
    
        <!-- Info absensi -->        
        <div class="d-flex align-items-center justify-content-start">     
            <div class="mg-r-auto">   
                            
            <!-- Button Registrasi -->
            <a href="{% url "tpegawai" %}" class="btn btn-primary mg-b-6">Registrasi</a>            

            <!-- Button Perjanjian & Kontrak Kerja -->
            <a href="{% url 'pkwt' %}" class="btn btn-dark mg-b-6">Perjanjian & Kontrak Kerja</a>

            <!-- Button Pegawai Non Aktif -->
            <a href="{% url 'non_aktif' sid %}"><button class="btn btn-danger mg-b-6">Pegawai Non Aktif</button></a> 

            <a href="{% url 'spegawai_payroll'  %}"><button class="btn btn-warning mg-b-6">Sinkron Data Pegawai Dengan Payroll</button></a> 

            </div>          
        </div>

        <br>        

        <div class="d-flex align-items-center justify-content-start">
            <div class="col-md-12 pd-x-0">  
                {% if sid == 0 %}
                    <a href="{% url 'pegawai' 0 %}" class="btn btn-info mg-b-8">Semua Data</a> &nbsp; 
                        
                    {% for s in status %}   
                        <a href="{% url 'pegawai' s.id%}" class="btn btn-outline-info mg-b-8">{{s.status}}</a> &nbsp;  
                    {% endfor %}

                {% else %}
                    <a href="{% url 'pegawai' 0 %}" class="btn btn-outline-info mg-b-8">Semua Data</a> &nbsp; 
                    
                    {% for s in status %}   
                        {% if s.id == sid %}
                            <a href="{% url 'pegawai' s.id%}" class="btn btn-info mg-b-8">{{s.status}}</a> &nbsp;   
                        {% else %}
                            <a href="{% url 'pegawai' s.id%}" class="btn btn-outline-info mg-b-8">{{s.status}}</a> &nbsp; 
                        {% endif %}
                    {% endfor %}
                {% endif %}
                

            </div>            
        </div>

        <br>

        <div id="loader"></div>            
     
        <!-- Table -->
        <div class="table-wrapper">
            <table id="tabelku" class="table display responsive" style="width:100%">
            <thead>
                <tr>
                    <th wrap>Nama</th>
                    <th>JK</th>
                    <th>NIK</th>
                    <th>Userid</th>
                    <th>Divisi</th>
                    <th>Jabatan</th>
                    <th>Libur</th>
                    <th>Kelp. Kerja</th>
                    <th>Payroll</th>
                    <th>Action</th>
                </tr>
            </thead>
            </table>
        </div>

        <!-- Modal -->
        <div id="detailPegawai" class="modal fade">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-y-20 pd-x-20">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Detail Pegawai <span id="namanya"></h6>          
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>          
                    </div>
                    
                    <div class="modal-body">
                        <table id="tabelku2" class="table display responsive">
                            <thead>
                                <tr>
                                  <th nowrap>Tanggal Masuk</th>
                                  <th>Counter</th>
                                  <th>Shift</th>
                                  <th>Rekening</th>
                                  <th>No BPJS KS</th>
                                  <th>No BPJS TK</th>
                                  <th>Premi KS</th>
                                  <th>Premi TK</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    
                </div>
            </div><!-- modal-dialog -->
        </div>

        <div id="nonaktif" class="modal fade">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-y-20 pd-x-20">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Konfirmasi Non Aktif Pegawai</h6>          
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>          
                    </div>
                    
                    <div class="modal-body">
                        <form id="nonaktifForm">
                            {% csrf_token %}
                            <div class="form-layout form-layout-1">
                                <div class="row mg-b-8">
                    
                                    <div class="col-lg-12">
                                        <div class="form-group mg-b-10-force">
                                            <p class="hitam">Apakah Anda Yakin ?</p>
                                        </div>
                                    </div>
    
                                    <input type="hidden" name="non_id" id="non_id" class="form-control">
                                    <input type="hidden" name="modul_id" id="modul_id" class="form-control">
    
                                    <div class="modal-footer">
                                        <button type="submit" id="submit_button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Non Aktifkan</button>
                                        <button type="button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Tutup Form</button>
                                    </div>        
                                </div>                        
                            </div>            
                        </form>
                    </div>
                    
                </div>
            </div><!-- modal-dialog -->
        </div>
    </div>

</div><!-- br-pagebody -->

{% endblock breadcrumb %}

{% block hrd_ajax %}

<script>
    $(document).ready(function() {

        var table = $('#tabelku').DataTable({

            "ajax": "{% url 'pegawai_json' sid %}",

            columns: [

                { data: 'nama' },
                { 
                    data: null,
                    "render": function(data, type, row, meta){    
                        if(row.gender == 'Laki-Laki'){
                            data = 'L'
                        } else (
                            data = 'P'
                        )
                        return data;
                    } 
                },     
                { data: 'nik' },
                { data: 'userid' },
                { data: 'divisi' },  
                { data: 'jabatan' },
                { data: 'libur' },
                { data: 'kkerja' },
                { data: 'payroll' },
                { 
                    data: null,
                    "render": function(data, type, row, meta){    
                        data = '<a href="/hrd/epegawai/'+row.idp+'"><button class="btn btn-sm btn-warning mb-1 tx-12">Edit</button></a> &nbsp; <a href="/hrd/general_data/'+row.idp+'"><button class="btn btn-sm btn-primary mb-1 tx-12">Lebih Detail</button></a> &nbsp; <button data-target="#nonaktif" data-toggle="modal" class="btn btn-sm btn-danger mb-1 tx-12" data-non_idp='+row.idp+' data-modul=Non>Non Aktifkan</button>';
                        
                        return data;
                    } 
                },
            ],

            "rowCallback": function (row, data) {
                $('td', row).eq(0).addClass('hitam');  
                $('td', row).eq(1).addClass('hitam');
                $('td', row).eq(2).addClass('hitam');
                $('td', row).eq(3).addClass('hitam');
                $('td', row).eq(4).addClass('hitam');                
                $('td', row).eq(5).addClass('hitam');                
                $('td', row).eq(6).addClass('hitam');              
                $('td', row).eq(7).addClass('hitam');
                $('td', row).eq(8).addClass('hitam');              
            },

            destroy: true,
            ordering: false,
            paging: false,
            scrollX: '100%',
            scrollY: 300,
            processing: true,

            "language": {
                searchPlaceholder: 'Cari...',
                sSearch: '',
                loadingRecords: '&nbsp;',
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                emptyTable: "&nbsp;",

                paginate: {
                    previous: '<i class="cs-chevron-left"></i>',
                    next: '<i class="cs-chevron-right"></i>',
                },
            },

        }); 
        
        /* Non Aktifkan */
        nonaktifForm.addEventListener('submit', e => {
            e.preventDefault()

            const non_idp = document.getElementById('non_id')
            const nama_modul = document.getElementById('modul_id')
            const csrf = document.getElementsByName('csrfmiddlewaretoken')       

            $.ajax({
                type: 'POST',
                url: "{% url 'nonaktif' %}",
                data: {
                    'csrfmiddlewaretoken': csrf[0].value,
                    'idp': non_idp.value,
                    'nama_modul':nama_modul.value
                },
                success: function (response) {             

                    if (response.status == 'ok') { 
                        console.log(response.status)       
                    } 

                    table.ajax.reload(null, false);

                    $('#nonaktif').modal('hide');
                    $("#nonaktifForm")[0].reset();
                        
                },
                error: function (error) {
                    if(error.responseJSON?.msg){
                        alert(error.responseJSON.msg)
                    }else{
                        alert('Terjadi kesalahan sistem, hubungi IT.')
                    }
                }
            });

        });

    });

</script>

 
<!-- Modal Script -->
<script>

    $('#nonaktif').on('show.bs.modal', function (e) {
      
        var didp = $(e.relatedTarget).data('non_idp');
        var modul = $(e.relatedTarget).data('modul');

        $(e.currentTarget).find('input[name="non_id"]').val(didp);
        $(e.currentTarget).find('input[name="modul_id"]').val(modul);

    });

</script>


{% endblock hrd_ajax %}