{% extends "hrd_app/master/base.html" %}

{% block breadcrumb %}

<!-- <div class="alert alert-warning alert-dismissible tx-info"><marquee class="py-0" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    Untuk saat ini proses absensi tidak dapat dilakukan, sampai informasi ini ditiadakan.  
</marquee></div> -->

<div class="br-pagebody">  

    <div class="br-section-wrapper">
        
    <!-- alert berhasil -->
    <div class="alert alert-info alert-dismissible" role="alert" id="berhasil" style="display: none;">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span id="pesan_berhasil"></span>
    </div>
  
    <!-- alert gagal-->
    <div class="alert alert-danger alert-dismissible" role="alert" id="alert" style="display: none;">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span id="pesan_gagal"></span>
    </div>

        <!-- Absensi -->
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Data Geser OFF &nbsp; ({{dari}} - {{sampai}})</h6>
    
        <!-- Info absensi -->        
        <div class="d-flex align-items-center justify-content-start">     
            <div class="mg-r-auto">
                            
            <!-- Button Tambah Ijin -->
            <button data-target="#tambahGF" data-toggle="modal" class="btn btn-primary mg-b-6">Tambah Geser OFF</button>

            <!-- Button Cari Data Ijin -->
            <button data-target="#cariGF" data-toggle="modal" class="btn btn-warning mg-b-6">Cari Data Geser OFF</button> &nbsp; &nbsp;

            {% include 'hrd_app/master/modul_absensi.html' %} 

            </div>          
        </div>

        <br>        

        <div class="d-flex align-items-center justify-content-start">
            <div class="col-md-12 pd-x-0">  
                {% if sid == 0 %}
                    <a href="{% url 'cgeser_off_s' dr sp 0 %}" class="btn btn-info mg-b-8">Semua Data</a> &nbsp; 
                    
                    {% for s in status %}  
                        <a href="{% url 'cgeser_off_s' dr sp s.id %}" class="btn btn-outline-info mg-b-8">{{s.status}}</a> &nbsp; 
                    {% endfor %}
                {% else %}
                    <a href="{% url 'cgeser_off_s' dr sp 0 %}" class="btn btn-outline-info mg-b-8">Semua Data</a> &nbsp; 
                    
                    {% for s in status %}  
                        {% if s.id == sid %}
                            <a href="{% url 'cgeser_off_s' dr sp s.id %}" class="btn btn-info mg-b-8">{{s.status}}</a> &nbsp;
                        {% else %}     
                            <a href="{% url 'cgeser_off_s' dr sp s.id %}" class="btn btn-outline-info mg-b-8">{{s.status}}</a> &nbsp;
                        {% endif %}    
                    {% endfor %}
                {% endif %}
                

            </div>            
        </div>

        <br>

        <div id="loader"></div>            

        <!-- Table -->
        <div class="table-wrapper">
            <table id="tabelku" class="table display responsive" style="width:100%">
            <thead>
                <tr>
                  <th>Nama</th>
                  <th>Nik</th>
                  <th>Userid</th>
                  <th>Divisi</th>
                  <th>Dari Tgl</th>
                  <th>Ke Tgl</th>
                  <th>Keterangan</th>
                  <th>Action</th>
                </tr>
            </thead>
            </table>
        </div>

        <!-- Modal -->
        <div id="tambahGF" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-y-20 pd-x-25">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Form Geser OFF</h6>          
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>          
                    </div>
                    
                    <form id="tambahForm">
                        {% csrf_token %}
                        <div class="form-layout form-layout-1">
                            <div class="row mg-b-8">
                
                                <div class="col-lg-12">
                                    <div class="form-group mg-b-10-force">
                                        <label class="form-control-label tx-inverse">Pegawai:</label>
                                        <select name="pegawai" id="pegawai" class="form-control select2-show-search" data-placeholder='Pilih' required=required>
                                            <option label="Pilih Pegawai"></option>
                                            {% for p in pegawai %}
                                            <option value="{{p.idp}}">{{p.nama}}/{{p.nik}} - {{p.userid}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group mg-b-10-force">
                                        <label class="form-control-label tx-inverse">Dari Tanggal:</label>
                                        <input type="text" name="tgl" id="tgl" class="form-control tgl1" placeholder="Dari Tgl">
                                    </div>
                                </div> 
                                
                                <div class="col-lg-6">
                                    <div class="form-group mg-b-10-force">
                                        <label class="form-control-label tx-inverse">Ke Tanggal:</label>
                                        <input type="text" name="tgl2" id="tgl2" class="form-control tgl2" placeholder="Ke Tgl">
                                    </div>
                                </div> 

                                <div class="col-lg-12">
                                    <div class="form-group mg-b-10-force">
                                        <label class="form-control-label tx-inverse">Keterangan:</label>
                                        <input type="text" name="ket" id="ket" class="form-control" placeholder="Keterangan">
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" id="submit_button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Simpan</button>
                                    <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                                </div>        
                            </div>                        
                        </div>            
                    </form>            
                    
                </div>
            </div><!-- modal-dialog -->
        </div>

        <div id="batalGF" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-y-20 pd-x-25">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Form Pembatalan Geser OFF</h6>          
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>          
                    </div>
                    
                    <form id="batalForm">
                        {% csrf_token %}
                        <div class="form-layout form-layout-1">
                            <div class="row mg-b-8">
                
                                <div class="col-lg-12">
                                    <div class="form-group mg-b-10-force">
                                        <p class="hitam">Apakah Anda Yakin ?</p>
                                    </div>
                                </div>

                                <input type="hidden" name="batal_id" id="batal_id" class="form-control">

                                <div class="modal-footer">
                                    <button type="submit" id="submit_button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Batalkan</button>
                                    <button type="button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Tutup Form</button>
                                </div>        
                            </div>                        
                        </div>            
                    </form>            
                    
                </div>
            </div><!-- modal-dialog -->
        </div>

        <div id="cariGF" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Cari Data Geser OFF</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                <form action="{% url 'cgeser_off' %}" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                        <div class="row mg-b-25">
            
                            <div class="col-lg-6">
                                <div class="form-group mg-b-10-force">
                                    <label class="form-control-label tx-inverse">Dari Tanggal-(tgl-bln-tahun):</label>
                                    <input type="text" name="ctgl1" id="ctgl1" class="form-control tgl1" placeholder="Dari Tanggal" required>
                                </div>
                            </div>
            
                            <div class="col-lg-6">
                                <div class="form-group mg-b-10-force">
                                    <label class="form-control-label tx-inverse">Sampai Tanggal-(tgl-bln-tahun):</label>
                                    <input type="text" name="ctgl2" id="ctgl2" class="form-control tgl1" placeholder="Dari Tanggal" required>
                                </div>
                            </div>

                            <input type="hidden" name="sid" class="form-control" value="{{sid}}">
            
                            <div class="modal-footer">
                            <button type="submit" id="submit_button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Cari Data</button>
                            <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                            </div>              
            
                        </div>
                    </div>            
                </form> 

            </div>
            </div><!-- modal-dialog -->
        </div>

    </div>

</div><!-- br-pagebody -->

{% endblock breadcrumb %}

{% block hrd_ajax %}

<script>    
    /* tabel */
    sid = "{{sid}}"
    dr = "{{dr}}"
    sp = "{{sp}}"

    var table = $('#tabelku').DataTable({
        "ajax": "{% url 'gf_json' dr sp sid %}",

        columns: [

            { data: 'nama' },
            { data: 'nik' },
            { data: 'userid' },
            { data: 'divisi' },
            { data: 'dari_tgl' },
            { data: 'ke_tgl' },
            { data: 'ket' },
            { 
                data: null,
                "render": function(data, type, row, meta){    
                    data = '<button data-target="#batalGF" data-toggle="modal" class="btn btn-sm btn-danger mb-1 tx-12" data-id_batal='+row.id+'>Batalkan Geser OFF</button>';
                    return data;
                } 
            },
            
        ],   

        "rowCallback": function (row, data) {
            $('td', row).eq(0).addClass('hitam');
            $('td', row).eq(1).addClass('hitam');
            $('td', row).eq(2).addClass('hitam');
            $('td', row).eq(3).addClass('hitam');
            $('td', row).eq(4).addClass('hitam');
            $('td', row).eq(5).addClass('hitam');
            $('td', row).eq(6).addClass('hitam');
            $('td', row).eq(7).addClass('hitam');
        },

        destroy: true,
        ordering: false,
        paging: false,
        scrollX: '100%',
        scrollY: 300,
        processing: true,

        "language": {
            searchPlaceholder: 'Cari...',
            sSearch: '',
            loadingRecords: '&nbsp;',
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            emptyTable: "&nbsp;",

            paginate: {
                previous: '<i class="cs-chevron-left"></i>',
                next: '<i class="cs-chevron-right"></i>',
            },
        },

    });   
   
    /* Tambah Ijin */
    tambahForm.addEventListener('submit', e => {
        e.preventDefault()
        const tgl = document.getElementById('tgl')
        const tgl2 = document.getElementById('tgl2')
        const pegawai = document.getElementById('pegawai')
        const ket = document.getElementById('ket')
        const csrf = document.getElementsByName('csrfmiddlewaretoken')       
        console.log(tgl,tgl2)
        
        $.ajax({
            type: 'POST',
            url: "{% url 'tgf' %}",
            data: {
                'csrfmiddlewaretoken': csrf[0].value,
                'tgl': tgl.value,
                'tgl2': tgl2.value,
                'pegawai': pegawai.value,
                'ket': ket.value,
            },
            success: function (response) { 
                
                if (response.status == 'ok') { 
                    alert('Data Geser OFF berhasil diproses')       
                } else if(response.status == 'duplikat'){
                    console.log('ok') 
                } else if(response.status == 'pegawai masuk'){
                    alert('Pegawai ybs, masuk di tanggal "Ke Tanggal" yang di input, proses dibatalkan.')
                } else if(response.status == 'pegawai tidak masuk'){
                    alert('Pegawai ybs, tidak masuk di tanggal "Dari Tanggal" yang di input, proses dibatalkan.')
                } else if(response.status == 'bukan hari off'){
                    alert('"Dari Tanggal" yang di input bukan hari off reguler pegawai ybs, proses dibatalkan.')
                } else if(response.status == 'bukan tgl merah'){
                    alert('"Dari Tanggal" yang di input bukan hari off reguler pegawai ybs dan bukan libur nasional, proses dibatalkan.')
                } else if(response.status == 'ada opg'){
                    alert('Sudah terdapat OPG di tanggal "Dari Tanggal", silahkan pergunakan OPG atau hapus OPG terlebih dahulu kemudian pergunakan Geser OFF, proses dibatalkan.')
                } 
                
                table.ajax.reload(null, false);

                $('#tambahGF').modal('hide');
                $("#tambahForm")[0].reset();
                $('#pegawai').val('').trigger("change");                   
                      
            },
            error: function (err) {
                alert(err.responseJSON.msg)
            }
        });

    });

    /* Batalkan Ijin */
    batalForm.addEventListener('submit', e => {
        e.preventDefault()

        const id_batal = document.getElementById('batal_id')
        const csrf = document.getElementsByName('csrfmiddlewaretoken')       

        $.ajax({
            type: 'POST',
            url: "{% url 'bgf' %}",
            data: {
                'csrfmiddlewaretoken': csrf[0].value,
                'id_batal': id_batal.value,
            },
            success: function (response) {
                                
                table.ajax.reload(null, false);

                $('#batalGF').modal('hide');
                $("#batalForm")[0].reset();       
                      
            },
            error: function (err) {
                alert(err.responseJSON.msg)
            }
        });

    });

    {% comment %} $("#submit_button").on("click", function() {
        var $this = $(this);
        $this.attr('disabled', true);
    }); {% endcomment %}

</script>

<!-- Modal Script -->
<script>
    $('#batalGF').on('show.bs.modal', function (e) {
      
      var id_batal = $(e.relatedTarget).data('id_batal');
      
      //populate the textbox
      $(e.currentTarget).find('input[name="batal_id"]').val(id_batal);
      
  });
</script>

<!-- Select2 -->
<script>
    $(function(){
    'use strict'        

        $('#pegawai').selectize();

    });
</script>

{% endblock hrd_ajax %}