{% extends "hrd_app/master/base.html" %}

{% block breadcrumb %}

<!-- <div class="alert alert-warning alert-dismissible tx-info"><marquee class="py-0" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    Untuk saat ini proses absensi tidak dapat dilakukan, sampai informasi ini ditiadakan.  
</marquee></div> -->

<div class="br-pagebody">  

    <div class="br-section-wrapper">
        <!-- Pesan Error -->
        {% for message in messages %}
        <div class="container-fluid p-0">
            {% if 'safe' in message.tags %}
            <div class="alert alert-info alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Yang Perlu Dicek</h6>
        <div class="d-flex align-items-center justify-content-start">
            <div class="col-md-12 pd-x-0">  
                <a href="{% url 'terlambat'  %}" class="btn btn-outline-info mg-b-8">Data terlambat</a> &nbsp;                 
                <a href="{% url 'tketerangan'  %}" class="btn btn-outline-info mg-b-8">Tanpa Keterangan</a> &nbsp;                 
                <a href="{% url 'tlengkap'  %}" class="btn btn-info mg-b-8">Tidak absen lengkap</a> &nbsp;                   
            </div>            
        </div>
    </div>
    {% csrf_token %}
    <div class="" style="width: 100%">
        <table id="tabelku" class="table">
        <thead>
            <tr>
            <th nowrap>Tanggal</th>
            <th>Nik</th>
            <th>Nama</th>
            <th>Shift</th>
            <th>Divisi</th>
            <th>Masuk</th>
            <th>Keluar</th>
            <th>Kembali</th>
            <th>Pulang</th>
            <th>Masuk (B)</th>
            <th>Keluar (B)</th>
            <th>Kembali (B)</th>
            <th>Pulang (B)</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
    </div>

    

</div><!-- br-pagebody -->

{% endblock breadcrumb %}
{% block hrd_ajax %}
<script>
    const token = document.querySelector("input[name=csrfmiddlewaretoken]").value
    $("#tableku").DataTable({
        ajax:{
            url:"{% url "tlengkap_json" %}",
            method:"post",
            headers:{
                "X-CSRFToken":token
            }
        },
        columns:[
            {data:"tanggal"},
            {data:"nik"},
            {data:"pegawai"},
            {data:"shift"},
            {data:"divisi"},
            {data:"masuk"},
            {data:"istirahat"},
            {data:"kembali"},
            {data:"pulang"},
            {data:"masuk_b"},
            {data:"istirahat_b"},
            {data:"kembali_b"},
            {data:"pulang_b"},
        ]
    })
</script>
{% endblock hrd_ajax %}