{% extends "hrd_app/master/base.html" %}

{% block breadcrumb %}

<!-- <div class="alert alert-warning alert-dismissible tx-info"><marquee class="py-0" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    Untuk saat ini proses absensi tidak dapat dilakukan, sampai informasi ini ditiadakan.  
</marquee></div> -->

<div class="br-pagebody">  

    <div class="br-section-wrapper">
        <!-- Pesan Error -->
        {% for message in messages %}
        <div class="container-fluid p-0">
            {% if 'safe' in message.tags %}
            <div class="alert alert-info alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Data Rekap Bulan {{nama_bulan}} Tahun {{tahun}}</h6>
        <div class="d-flex align-items-center justify-content-start">     
            <div class="mg-r-auto">   
                            
            <!-- Button Cari Data Absen -->
            <button data-target="#pilih_tgl_cari" data-toggle="modal" class="btn btn-primary mg-b-6">Cari Data Laporan</button>  &nbsp; 
            <button data-target="#multiplepegawai" data-toggle="modal" class="btn btn-info mg-b-6">Per Pegawai</button>  &nbsp;
            {% comment %} <button data-target="#printshift" data-toggle="modal" class="btn btn-info mg-b-6">Print Shift</button>  &nbsp; {% endcomment %}
            <button data-target="#divisimodal" data-toggle="modal" class="btn btn-outline-danger mg-b-6">Per Divisi PDF</button>  &nbsp;
            <button data-target="#divisiexcelmodal" data-toggle="modal" class="btn btn-outline-success mg-b-6">Per Divisi Excel</button>  &nbsp; &nbsp; &nbsp;
            <button data-target="#shiftmodal" data-toggle="modal" class="btn btn-outline-success mg-b-6">Shift</button>  &nbsp; &nbsp; &nbsp;
            {% if ccabang == 'cirebon' %}
                <button data-target="#excelcirebon" data-toggle="modal" class="btn btn-outline-success mg-b-6">Excel Cirebon</button>  &nbsp; &nbsp; &nbsp;
            {% endif %}
            <!-- Button lainnya -->
            {% include 'hrd_app/master/modul_absensi.html' %} 

            </div>          
        </div>

        <br>        

        <div class="d-flex align-items-center justify-content-start">
            <div class="col-md-12 pd-x-0">  
                {% if sid == 0 %}
                    <a href="{% url 'laporan' 0 %}" class="btn btn-info mg-b-8">Semua Data</a> &nbsp; 
                        
                    {% for s in status %}   
                        <a href="{% url 'laporan' s.id%}" class="btn btn-outline-info mg-b-8">{{s.status}}</a> &nbsp;  
                    {% endfor %}

                {% else %}
                    <a href="{% url 'laporan' 0 %}" class="btn btn-outline-info mg-b-8">Semua Data</a> &nbsp; 
                    
                    {% for s in status %}   
                        {% if s.id == sid %}
                            <a href="{% url 'laporan' s.id%}" class="btn btn-info mg-b-8">{{s.status}}</a> &nbsp;   
                        {% else %}
                            <a href="{% url 'laporan' s.id%}" class="btn btn-outline-info mg-b-8">{{s.status}}</a> &nbsp; 
                        {% endif %}
                    {% endfor %}
                {% endif %}
                

            </div>            
        </div>
        <div class="" style="width: 100%;">
            <table id="tableku" class="table">
                {% csrf_token %}
                <thead>
                    <tr>
                        <th rowspan="2">NIK</th>
                        <th rowspan="2" class="">NAMA</th>
                        <th rowspan="2">JK</th>
                        <th rowspan="2">DIVISI</th>
                        <th rowspan="2">OFF DAY</th>
                        <th colspan="3" >SAKIT</th> &nbsp
                        <th colspan="9" >DISPENSASI</th>
                        <th rowspan="2">IJIN</th>
                        <th rowspan="2">AF</th>
                        <th rowspan="2">CT</th>
                        <th rowspan="2">OFF</th>
                        <th rowspan="2">OPG</th>
                        <th rowspan="2">DL</th>
                        <th colspan="2" style="text-align:center;">TERLAMBAT</th>
                        <th rowspan="2">TOTAL HARI KERJA</th>
                        <th rowspan="2">Print</th>
                    </tr>
                    <tr>
                        <th>Surat Biasa (SB)</th>
                        <th>Surat Dokter Luar (SDL)</th>
                        <th>Surat Dokter Perusahaan (SDP)</th>
                        <th class="ml-2">Nikah (NKH)</th>
                        <th>Menikahkan Anak (MA)</th>
                        <th>Khitanan Anak (KTN)</th>
                        <th>Istri Melahirkan (IM)</th>
                        <th>Cuti Melahirkan (CM)</th>
                        <th>Wafat (WFT)</th>
                        <th>Keluarga Wafat (KWFT)</th>
                        <th>Umroh (URH)</th>
                        <th>Baptis (BS)</th>
                        <th>IJIN</th>
                        <th>T.IJIN</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


        <div id="pilih_tgl_cari" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Cari Data Laporan</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
        
                        
                        <div class="col-6">
                            <select name="bulan" id="bulan">
                                <option value="">Pilih Bulan</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select name="tahun" id="tahun">
                                <option value="">Pilih Tahun</option>
                                {% for y in list_year %}
                                <option value="{{y}}">{{y}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="hidden" name="sid" id="sid" class="form-control" value="{{sid}}">
        
                        <div class="modal-footer">
                        <button type="button" id="submit_buttonCari" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Cari Data</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
            </div>
            </div><!-- modal-dialog -->
        </div>
        <div id="multiplepegawai" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Print Per Pegawai</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                <form action="{% url "print_laporan_pegawai" %}" method="post" target="_blank">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
                        <div class="col-12 mb-2">
                            <label for="pegawai">Pilih Pegawai</label>
                            <select name="pegawai[]" id="pegawai">
                                <option value="">Pilih Pegawai</option>
                                {% for p in pegawai %}
                                    <option value="{{p.pk}}">{{p.nama}} / {{p.nik}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="dari">Dari</label>
                            <input type="text" name="dari" id="dari" class="form-control tgl1">
                        </div>
                        {% comment %} <br {% endcomment %}
                        {% comment %} &nbsp {% endcomment %}
                        <div class="col-6">
                            <label for="dari">Sampai</label>
                            <input type="text" name="sampai" id="sampai" class="form-control tgl1">
                        </div>
                        <input type="hidden" name="sid" id="sid" class="form-control" value="{{sid}}">
        
                        <div class="modal-footer">
                        <button type="submit" id="" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Print</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>
            </div>
            </div><!-- modal-dialog -->
        </div>
        <div id="divisimodal" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Print Per Divisi</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                <form action="{% url "print_laporan_divisi" %}" method="post" target="_blank">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
                        <div class="col-12 mb-2">
                            <label for="divisi">Pilih Divisi</label>
                            <select name="divisi[]" id="divisi">
                                <option value="">Pilih Divisi</option>
                                {% for p in divisi %}
                                    <option value="{{p.pk}}">{{p.divisi}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="dari">Dari</label>
                            <input type="text" name="dari" id="daridivisi" class="form-control tgl1">
                        </div>
                        <div class="col-6">
                            <label for="dari">Sampai</label>
                            <input type="text" name="sampai" id="sampaidivisi" class="form-control tgl1">
                        </div>
                        <input type="hidden" name="sid" id="sid" class="form-control" value="{{sid}}">
        
                        <div class="modal-footer">
                        <button type="submit" id="" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Print</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>
            </div>
            </div><!-- modal-dialog -->
        </div>
        <div id="divisiexcelmodal" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Print Per Divisi Excel</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                <form action="{% url "print_laporan_divisi_excel" %}" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
                        <div class="col-12 mb-2">
                            <label for="divisiexcel">Pilih Divisi Excel</label>
                            <select name="divisi[]" id="divisiexcel">
                                <option value="">Pilih Divisi Excel</option>
                                {% for p in divisi %}
                                    <option value="{{p.pk}}">{{p.divisi}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="dari">Dari</label>
                            <input type="text" name="dari" id="daridivisiexcel" class="form-control tgl1">
                        </div>
                        <div class="col-6">
                            <label for="dari">Sampai</label>
                            <input type="text" name="sampai" id="sampaidivisiexcel" class="form-control tgl1">
                        </div>
                        <input type="hidden" name="sid" id="sid" class="form-control" value="{{sid}}">
        
                        <div class="modal-footer">
                        <button type="submit" id="" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Print</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>
            </div>
            </div><!-- modal-dialog -->
        </div>
        <div id="excelcirebon" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Print Per Divisi Excel</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                <form action="{% url "print_laporan_divisi_excel_cirebon" %}" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
                        <div class="col-12 mb-2">
                            <label for="divisiexcelcirebon">Pilih Divisi Excel</label>
                            <select name="divisi" id="divisiexcelcirebon">
                                <option value="">Pilih Divisi Excel</option>
                                {% for p in divisi %}
                                    <option value="{{p.pk}}">{{p.divisi}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="dari">Dari</label>
                            <input type="text" name="dari" id="daridivisiexcelcirebon" class="form-control tgl1">
                        </div>
                        <div class="col-6">
                            <label for="dari">Sampai</label>
                            <input type="text" name="sampai" id="sampaidivisiexcelcirebon" class="form-control tgl1">
                        </div>
                        <input type="hidden" name="sid" id="sid" class="form-control" value="{{sid}}">
        
                        <div class="modal-footer">
                        <button type="submit" id="" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Print</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>
            </div>
            </div><!-- modal-dialog -->
        </div>
        <div id="shiftmodal" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Print Shift</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                <form action="{% url "print_laporan_shift" %}" method="post" target="_blank">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
                        <div class="col-12 mb-2">
                            <label for="shift">Pilih Shift</label>
                            <select name="shift[]" id="shift">
                                <option value="">Pilih Shift</option>
                                {% for s in shift %}
                                    <option value="{{s.pk}}">{{s.shift}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="tanggal">Tanggal</label>
                            <input type="text" name="tanggal" id="tanggalshift" class="form-control multis">
                        </div>
                        <input type="hidden" name="sid" id="sid" class="form-control" value="{{sid}}">
        
                        <div class="modal-footer">
                        <button type="submit" id="" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Print</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>
            </div>
            </div><!-- modal-dialog -->
        </div>
        
    </div>

    

</div><!-- br-pagebody -->

{% endblock breadcrumb %}
{% block hrd_ajax %}

<script>
    sid = "{{sid}}"
    bulan = "{{bulan}}"
    tahun = "{{tahun}}"
    const token = document.querySelector('input[name=csrfmiddlewaretoken]').value;
    const pegawai = $("#pegawai").selectize({
        maxItems:null
    })
    const shift = $("#shift").selectize({
        maxItems:null
    })
    const bulanp = $("#bulanp").selectize({
        valueField: "bulan",
        labelField: "nama",
        searchField: ["nama"],
        options: [
            { nama: "Januari", bulan: "1" },
            { nama: "Februari", bulan: "2" },
            { nama: "Maret", bulan: "3" },
            { nama: "April", bulan: "4" },
            { nama: "Mei", bulan: "5" },
            { nama: "Juni", bulan: "6" },
            { nama: "Juli", bulan: "7" },
            { nama: "Agustus", bulan: "8" },
            { nama: "September", bulan: "9" },
            { nama: "Oktober", bulan: "10" },
            { nama: "November", bulan: "11" },
            { nama: "Desember", bulan: "12" },
        ],
    })
    const tahunp = $("#tahunp").selectize()
    const divisi = $("#divisi").selectize()
    const divisiexcel = $("#divisiexcel").selectize()
    const tahunSelectize = $("#tahun").selectize()
    const bulanSelectize = $("#bulan").selectize({
        valueField: "bulan",
        labelField: "nama",
        searchField: ["nama"],
        options: [
            { nama: "Januari", bulan: "1" },
            { nama: "Februari", bulan: "2" },
            { nama: "Maret", bulan: "3" },
            { nama: "April", bulan: "4" },
            { nama: "Mei", bulan: "5" },
            { nama: "Juni", bulan: "6" },
            { nama: "Juli", bulan: "7" },
            { nama: "Agustus", bulan: "8" },
            { nama: "September", bulan: "9" },
            { nama: "Oktober", bulan: "10" },
            { nama: "November", bulan: "11" },
            { nama: "Desember", bulan: "12" },
        ],
    })
    const table = $("#tableku").DataTable({
        ajax:{
            url:"{% url 'laporan_json'%}",
            data:{
                sid:sid,
                bulan:bulan,
                tahun:tahun
            },
            method:"post",
            headers:{
                "X-CSRFToken":token
            },
        },
        columns:[
            {data:"nik"},
            {
                data:"nama",
                render:(data,type,row,meta) => {
                    const id = row.id
                    const bulan = "{{bulan}}"
                    const tahun = "{{tahun}}"
                    const sid = "{{sid}}"
                    return `<a style="color:#0d6efd;" target="_blank" href="/hrd/print_laporan/${sid}/${id}/${bulan}/${tahun}">${data}</a>`
                }
            },
            {data:"jk"},
            {data:"divisi"},
            {data:"hari_off"},
            {data:"sb"},
            {data:"sdl"},
            {data:"sdp"},
            {data:"nkh"},
            {data:"ma"},
            {data:"ktn"},
            {data:"im"},
            {data:"cm"},
            {data:"wft"},
            {data:"kwft"},
            {data:"urh"},
            {data:"bs"},
            {data:"ijin"},
            {data:"af"},
            {data:"ct"},
            {data:"off"},
            {data:"opg"},
            {data:"dl"},
            {data:"terlambat_ijin"},
            {data:"terlambat"},
            {data:"total_hari"},
            {
                data:null,
                render:(data,type,row,meta) => {
                    return `<a class="btn btn-primary" target="_blank" href="/hrd/print_laporan/${sid}/${row.id}/${bulan}/${tahun}">Print Pdf</a> &nbsp;<a target="_blank" class="btn btn-warning" href="/hrd/laporan_periode_excel/${sid}/${row.id}/${bulan}/${tahun}">Print Excel</a>`
                }
            }
        ],
        "rowCallback": function (row, data) {
                if(data.sln == 1){
                    $('td', row).eq(0).addClass('merah');
                } else{
                    $('td', row).eq(0).addClass('hitam');
                }
                $('td', row).eq(1).addClass('hitam');
                $('td', row).eq(2).addClass('hitam');
                $('td', row).eq(3).addClass('hitam');
                $('td', row).eq(4).addClass('hitam');
                $('td', row).eq(5).addClass('hitam');
                $('td', row).eq(6).addClass('hitam');
                $('td', row).eq(7).addClass('hitam');
                $('td', row).eq(8).addClass('hitam');
                $('td', row).eq(9).addClass('hitam');
                $('td', row).eq(10).addClass('hitam');
                $('td', row).eq(11).addClass('hitam');
                $('td', row).eq(12).addClass('hitam');
                $('td', row).eq(13).addClass('hitam');
                $('td', row).eq(14).addClass('hitam');
                $('td', row).eq(15).addClass('hitam');
                $('td', row).eq(16).addClass('hitam');
                $('td', row).eq(17).addClass('hitam');
                $('td', row).eq(18).addClass('hitam');
                $('td', row).eq(19).addClass('hitam');
                $('td', row).eq(20).addClass('hitam');
                $('td', row).eq(21).addClass('hitam');
                $('td', row).eq(22).addClass('hitam');
                $('td', row).eq(23).addClass('hitam');
                $('td', row).eq(24).addClass('hitam');
                $('td', row).eq(25).addClass('hitam');
            },


            ordering: false,
            paging: false,
            processing: true,
            scrollY:300,
            scrollX: '100%',

            "language": {
                searchPlaceholder: 'Cari...',
                sSearch: '',
                loadingRecords: '&nbsp;',
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                emptyTable: "&nbsp;",

                paginate: {
                    previous: '<i class="cs-chevron-left"></i>',
                    next: '<i class="cs-chevron-right"></i>',
                },
            },
    })


    $("#submit_buttonCari").on("click",function(e){
        const tahun = $("#tahun").val()
        const bulan = $("#bulan").val()
        const sid = $("#sid").val()
        $("#tableku").DataTable().destroy()
        console.log(bulan,tahun)
        $("#tableku").DataTable({
            ajax:{
                url:"{% url 'laporan_json'%}",
                data:{
                    sid:sid,
                    bulan:bulan,
                    tahun:tahun
                },
                method:"post",
                headers:{
                    "X-CSRFToken":token
                },
            },
            columns:[
            {data:"nik"},
            {
                data:"nama",
                render:(data,type,row,meta) => {
                    const id = row.id
                    return `<a style="color:#0d6efd;" target="_blank" href="/hrd/print_laporan/${sid}/${id}/${bulan}/${tahun}">${data}</a>`
                }
            },
            {data:"jk"},
            {data:"divisi"},
            {data:"hari_off"},
            {data:"sb"},
            {data:"sdl"},
            {data:"sdp"},
            {data:"nkh"},
            {data:"ma"},
            {data:"ktn"},
            {data:"im"},
            {data:"cm"},
            {data:"wft"},
            {data:"kwft"},
            {data:"urh"},
            {data:"ijin"},
            {data:"bs"},
            {data:"af"},
            {data:"ct"},
            {data:"off"},
            {data:"opg"},
            {data:"dl"},
            {data:"terlambat_ijin"},
            {data:"terlambat"},
            {data:"total_hari"},
            {
                data:null,
                render:(data,type,row,meta) => {
                    return `<a class="btn btn-primary" target="_blank" href="/hrd/print_laporan/${sid}/${row.id}/${bulan}/${tahun}">Print Pdf</a> &nbsp; <a target="_blank" class="btn btn-warning" href="/hrd/laporan_periode_excel/${sid}/${row.id}/${bulan}/${tahun}">Print Excel</a>`
                }
            }
            ],
            "rowCallback": function (row, data) {
                    if(data.sln == 1){
                        $('td', row).eq(0).addClass('merah');
                    } else{
                        $('td', row).eq(0).addClass('hitam');
                    }
                    $('td', row).eq(1).addClass('hitam');
                    $('td', row).eq(2).addClass('hitam');
                    $('td', row).eq(3).addClass('hitam');
                    $('td', row).eq(4).addClass('hitam');
                    $('td', row).eq(5).addClass('hitam');
                    $('td', row).eq(6).addClass('hitam');
                    $('td', row).eq(7).addClass('hitam');
                    $('td', row).eq(8).addClass('hitam');
                    $('td', row).eq(9).addClass('hitam');
                    $('td', row).eq(10).addClass('hitam');
                    $('td', row).eq(11).addClass('hitam');
                    $('td', row).eq(12).addClass('hitam');
                    $('td', row).eq(13).addClass('hitam');
                    $('td', row).eq(14).addClass('hitam');
                    $('td', row).eq(15).addClass('hitam');
                    $('td', row).eq(16).addClass('hitam');
                    $('td', row).eq(17).addClass('hitam');
                    $('td', row).eq(18).addClass('hitam');
                    $('td', row).eq(19).addClass('hitam');
                    $('td', row).eq(20).addClass('hitam');
                    $('td', row).eq(21).addClass('hitam');
                    $('td', row).eq(22).addClass('hitam');
                    $('td', row).eq(23).addClass('hitam');
                    $('td', row).eq(24).addClass('hitam');
                    $('td', row).eq(25).addClass('hitam');
                },
    
    
                destroy: true,
                ordering: false,
                paging: false,
                scrollY: 300,
                scrollX:"100%",
                processing: true,
    
                "language": {
                    searchPlaceholder: 'Cari...',
                    sSearch: '',
                    loadingRecords: '&nbsp;',
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                    emptyTable: "&nbsp;",
    
                    paginate: {
                        previous: '<i class="cs-chevron-left"></i>',
                        next: '<i class="cs-chevron-right"></i>',
                    },
                },
        })
    })
</script>

{% endblock hrd_ajax %}
