{% extends "hrd_app/master/base.html" %}

{% block breadcrumb %}

<!-- <div class="alert alert-warning alert-dismissible tx-info"><marquee class="py-0" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    Untuk saat ini proses absensi tidak dapat dilakukan, sampai informasi ini ditiadakan.  
</marquee></div> -->

<div class="br-pagebody">  

    <div class="br-section-wrapper">
        <!-- Pesan Error -->
        {% for message in messages %}
        <div class="container-fluid p-0">
            {% if 'safe' in message.tags %}
            <div class="alert alert-info alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <!-- Pengaturan -->
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Pengaturan Jenis Ijin</h6>
    
        <!-- Modul Pengaturan -->        
        <div class="d-flex align-items-center justify-content-start">     
            <div class="mg-r-auto">   
                <button data-target="#tambah" data-toggle="modal" class="btn btn-primary mg-b-6">Tambah</button> &nbsp; &nbsp; &nbsp; &nbsp;
                {% include 'hrd_app/master/modul_pengaturan.html' %}
            </div>          
        </div>

        <br>

        <div id="loader"></div>         
        {% csrf_token %}
        <div class="table-wrapper">
            <table id="tabelku" class="table display responsive" style="width:100%">
            <thead>
                <tr>
                <th nowrap>Jenis Ijin</th>
                <th>Action</th>
                </tr>
            </thead>
            </table>
        </div>   
        <div id="edit" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Edit {{modul_aktif}}</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                <form id="editForm" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
        
                        <div class="col-lg-12">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label tx-inverse">Jenis Ijin:</label>
                                <input type="text" name="ejenis_ijin" id="ejenis_ijin" class="form-control">
                            </div>
                        </div>
                        <input type="hidden" name="edit_id" id="edit_id">
                        <div class="modal-footer">
                        <button type="submit" id="submit_button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Edit</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>            
        
                    </div>
                    </div>            
                </form>              
            </div>
            </div>
        </div>
        <div id="tambah" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Tambah {{modul_aktif}}</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                <form id="tambahForm" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
                        <div class="col-lg-12">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label tx-inverse">Jenis Ijin:</label>
                                <input type="text" name="jenis_ijin" id="jenis_ijin" class="form-control">
                            </div>
                        </div>
        
                        <div class="modal-footer">
                        <button type="submit" id="buttontambahjenisijin" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Tambah</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>              
            </div>
            </div>
            </div><!-- modal-dialog -->
            <div id="hapus" class="modal fade">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-y-20 pd-x-25">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Tambah {{modul_aktif}}</h6>          
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>          
                    </div>
                    
                    <form id="hapusForm" method="post">
                        {% csrf_token %}
                        <div class="form-layout form-layout-1">
                        <div class="row mg-b-25">
            
                            <div class="col-lg-12">
                                <p class="hitam">Apakah Anda Yakin ?</p>
                                <input type="hidden" name="hapus_id" id="hapus_id" class="form-control">
                                <input type="hidden" name="hjenis_ijin" id="hjenis_ijin" class="form-control">
                            </div>
            
                            <div class="modal-footer">
                            <button type="submit" id="submit_button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Hapus</button>
                            <button type="button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                            </div>              
            
                        </div>
                        </div>                
                    </form>              
                </div>
                </div>
            </div>
        </div>

    </div>

</div><!-- br-pagebody -->

{% endblock breadcrumb %}

{% block hrd_ajax %}
    <script>
        const token = document.querySelector("[name=csrfmiddlewaretoken]").value
        const table = $("#tabelku").DataTable({
            ajax:{
                url:"{% url 'jenis_ijin_json' %}",
                method:"post",
                headers:{"X-CSRFToken":token}
            },
            columns:[
                {data:"jenis_ijin"},
                { 
                    data: "pk",
                    "render": function(data, type, row, meta){    
                        data = `<button type="button" class="btn btn-sm btn-warning mb-1 tx-12" data-target="#edit" data-toggle="modal" data-jijin='${row.jenis_ijin}' data-eid='${data}'>Edit</button> &nbsp; <button type="button" class="btn btn-sm btn-danger mb-1 tx-12" data-target="#hapus" data-hid='${data}' data-jijin='${row.jenis_ijin}' data-toggle="modal">Hapus</button>`;
                        return data;
                    } 
                },
            ],
            "rowCallback": function (row, data) {
                $('td', row).eq(0).addClass('hitam');
                $('td', row).eq(1).addClass('hitam');
            },

            destroy: true,
            ordering: false,
            paging: true,
            processing: true,

            "language": {
                searchPlaceholder: 'Cari...',
                sSearch: '',
                loadingRecords: '&nbsp;',
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                emptyTable: "&nbsp;",

                paginate: {
                    previous: '<i class="cs-chevron-left">Prev</i>',
                    next: '<i class="cs-chevron-right">Next</i>',
                },
            },
        })

        $("#tambahForm").on("submit",function(e){
            e.preventDefault()
            const jenis_ijin = $("#jenis_ijin").val()
            $.ajax({
                url:"{% url 'tjenis_ijin' %}",
                method:"post",
                data:{jenis_ijin},
                headers:{"X-CSRFToken":token},
                success(e){
                    table.ajax.reload()
                    $("#tambah").modal("hide")
                }
            })
        })
        $("#hapusForm").on("submit",function(e){
            e.preventDefault()
            const id = $("#hapus_id").val()
            console.log(id)
            const jenis_ijin = $("#jenis_ijin").val()
            $.ajax({
                url:"{% url 'hjenis_ijin' %}",
                method:"post",
                data:{id,jenis_ijin},
                headers:{"X-CSRFToken":token},
                success(e){
                    console.log(e)
                    table.ajax.reload()
                    $("#hapus").modal("hide")
                }
            })
        })
        $("#editForm").on("submit",function(e){
            e.preventDefault()
            const jenis_ijin = $("#ejenis_ijin").val()
            const id = $("#edit_id").val()
            console.log(id)
            $.ajax({
                url:"{% url 'ejenis_ijin' %}",
                method:"post",
                data:{jenis_ijin,id},
                headers:{"X-CSRFToken":token},
                success(e){
                    console.log(e)
                    table.ajax.reload()
                    $("#edit").modal("hide")
                }
            })
        })

        $("#tambah").on("show.bs.modal",function(e){
            $("#jenis_ijin").val(" ")
            setTimeout((e) => {
                $("#jenis_ijin").focus()
            },300)
        })

        $("#edit").on("show.bs.modal",function(e){
            setTimeout((e) => {
                $("#ejenis_ijin").focus()
            },300)
            const id = $(e.relatedTarget).data("eid")
            const jenis_ijin = $(e.relatedTarget).data("jijin")
            $("#edit_id").val(id)
            $("#ejenis_ijin").val(jenis_ijin)
        })

        $("#hapus").on("show.bs.modal",function(e){
            const id = $(e.relatedTarget).data("hid")
            const jenis_ijin = $(e.relatedTarget).data("jijin")
            $("#hapus_id").val(id)
            $("#jenis_ijin").val(jenis_ijin)
            console.log(jenis_ijin)
        })


    </script>
{% endblock hrd_ajax %}