{% extends "hrd_app/master/base.html" %}

{% block breadcrumb %}

<!-- <div class="alert alert-warning alert-dismissible tx-info"><marquee class="py-0" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    Untuk saat ini proses absensi tidak dapat dilakukan, sampai informasi ini ditiadakan.  
</marquee></div> -->

<div class="br-pagebody">  

    <div class="br-section-wrapper">
        <!-- Pesan Error -->
        {% for message in messages %}
        <div class="container-fluid p-0">
            {% if 'safe' in message.tags %}
            <div class="alert alert-info alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <!-- Pengaturan -->
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Pengaturan Pegawai OPG</h6>
    
        <!-- Modul Pengaturan -->        
        <div class="d-flex align-items-center justify-content-start">     
            {% csrf_token %}
            <div class="mg-r-auto">   
                <button data-target="#tambah" data-toggle="modal" class="btn btn-primary mg-b-6">Tambah Pegawai</button>
                <button class="btn btn-warning mg-b-6" data-target="#tambahdivisi" data-toggle="modal">Tambah Berdasarkan Divisi</button>
                <button class="btn btn-secondary mg-b-6" data-target="#tambahstatus" data-toggle="modal">Tambah Berdasarkan Status Pegawai</button> &nbsp; &nbsp; &nbsp;
                {% include 'hrd_app/master/modul_pengaturan.html' %}
            </div>          
        </div>

        <br>
        <div id="msg"></div>
        <div id="loader"></div>            
        <div class="table-wrapper">
            <table id="tabelku" class="table display responsive" style="width:100%">
            <thead>
                <tr>
                <th nowrap>Pegawai</th>
                <th nowrap>Divisi</th>
                <th nowrap>Status</th>
                <th>Action</th>
                </tr>
            </thead>
            </table>
        </div>
        <div id="tambah" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Tambah {{modul_aktif}}</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                <form id="tambahForm" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
                        <div class="col-lg-12">
                            <div class="form-group mg-b-10-force">
                                <select name="tspegawai" id="tspegawai">
                                    <option value="">Pilih Pegawai</option>
                                    {% for s in pegawai %}
                                        <option value="{{s.pk}}">{{s.nama}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
        
                        <div class="modal-footer">
                        <button type="submit" id="submit_button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Tambah</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>              
            </div>
            </div>
            </div>
            <div id="tambahdivisi" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Tambah {{modul_aktif}}</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                <form id="tambahDivisiForm" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
                        <div class="col-lg-12">
                            <div class="form-group mg-b-10-force">
                                <select name="tsdivisi" id="tsdivisi">
                                    <option value="">Pilih Divisi</option>
                                    {% for s in divisi %}
                                        <option value="{{s.pk}}">{{s.divisi}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
        
                        <div class="modal-footer">
                        <button type="submit" id="submit_button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Tambah</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>              
            </div>
            </div>
            </div>
            <div id="tambahstatus" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Tambah {{modul_aktif}}</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                <form id="tambahStatusForm" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
                        <div class="col-lg-12">
                            <div class="form-group mg-b-10-force">
                                <select name="tsstatus" id="tsstatus">
                                    <option value="">Pilih Status</option>
                                    {% for s in status %}
                                        <option value="{{s.pk}}">{{s.status}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
        
                        <div class="modal-footer">
                        <button type="submit" id="submit_button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Tambah</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>              
            </div>
            </div>
            </div>
            <!-- akhir modal tambah -->
            {% comment %} <div id="edit" class="modal fade">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-y-20 pd-x-25">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Edit {{modul_aktif}}</h6>          
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>          
                    </div>
                    
                    <form id="editForm" method="post">
                        {% csrf_token %}
                        <div class="form-layout form-layout-1">
                        <div class="row mg-b-25">
            
                            <div class="col-lg-12">
                                <div class="form-group mg-b-10-force">
                                    <select name="espegawai" id="espegawai">
                                    <option value="">Pilih Pegawai</option>
                                    {% for s in pegawai %}
                                        <option value="{{s.pk}}">{{s.nama}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                            <input type="hidden" name="edit_id" id="edit_id">
                            <div class="modal-footer">
                            <button type="submit" id="submit_button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Edit</button>
                            <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                            </div>            
            
                        </div>
                        </div>            
                    </form>              
                </div>
                </div>
            </div> {% endcomment %}
            <!-- akhir modal edit -->
            <div id="hapus" class="modal fade">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-y-20 pd-x-25">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Hapus {{modul_aktif}}</h6>          
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>          
                    </div>
                    
                    <form id="hapusForm" method="post">
                        {% csrf_token %}
                        <div class="form-layout form-layout-1">
                        <div class="row mg-b-25">
            
                            <div class="col-lg-12">
                                <p class="hitam">Apakah Anda Yakin ?</p>
                                <input type="hidden" name="hapus_id" id="hapus_id" class="form-control">
                            </div>
            
                            <div class="modal-footer">
                            <button type="submit" id="submit_button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Hapus</button>
                            <button type="button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                            </div>              
            
                        </div>
                        </div>                
                    </form>              
                </div>
                </div>
            </div>
            <!-- akhir hapus modal -->
    </div>

</div><!-- br-pagebody -->

{% endblock breadcrumb %}

{% block hrd_ajax %}

<script>
    const token = document.querySelector("[name=csrfmiddlewaretoken]").value
    const tsdivisi_selectize = $("#tsdivisi").selectize()
    const tsstatus_selectize = $("#tsstatus").selectize()
    const tspegawai_selectize = $("#tspegawai").selectize()
    const espegawai_selectize = $("#espegawai").selectize()


    const table = $("#tabelku").DataTable({
        ajax:{
            url:"{% url 'spgopgjson' %}",
            method:'post',
            headers:{"X-CSRFToken":token},
        },
        columns:[
            {data:"pegawai"},
            {data:"divisi"},
            {data:"status"},
            {
                data:"pk",
                render: function(data, type, row, meta){    
                        data = `<button type="button" class="btn btn-sm btn-danger mb-1 tx-12" data-target="#hapus" data-hid='${data}' data-pegawai='${row.pegawai_id}' data-toggle="modal">Hapus</button>`;
                        return data;
                    } 
            }
        ],
        "rowCallback": function (row, data) {
            $('td', row).eq(0).addClass('hitam');
            $('td', row).eq(1).addClass('hitam');
            $('td', row).eq(2).addClass('hitam');
            $('td', row).eq(3).addClass('hitam');
        },
        order:[[2, "asc"]],
        processing: true,
        "language": {
            searchPlaceholder: 'Cari...',
            sSearch: '',
            loadingRecords: '&nbsp;',
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
            emptyTable: "&nbsp;",
        },
    })

    $("#editForm").on("submit",function(e){
        e.preventDefault()
        const idp = $("#espegawai").val()
        const id = $("#edit_id").val()
        $.ajax({
            url:"{% url 'espgopg' %}",
            method:'post',
            data:{idp,id},
            headers:{"X-CSRFToken":token},
            success(e){
                $("#edit").modal("hide")
                $("#msg div").remove()
                table.ajax.reload()
                $("#editForm")[0].reset()
                espegawai_selectize[0].selectize.clear()
                console.log(e)
            },
            error(err){
                $("#edit").modal("hide")
                $("#msg div").remove()
                if(err.responseJSON?.msg){
                    $("#msg").append(`
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <p>${err.responseJSON.msg}</p>
                        </div>
                    `)
                }else{
                    $("#msg").append(`
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <p>Terjadi kesahalan</p>
                        </div>
                    `)
                }
            }
        })
    })

    $("#tambahForm").on("submit",function(e){
        e.preventDefault()
        const idp = $("#tspegawai").val()
        $.ajax({
            url:"{% url 'tspgopg' %}",
            method:'post',
            data:{idp},
            headers:{"X-CSRFToken":token},
            success(e){
                $("#tambah").modal("hide")
                $("#msg div").remove()
                table.ajax.reload()
                $("#tambahForm")[0].reset()
                tspegawai_selectize[0].selectize.clear()
                console.log(e)
            },
            error(err){
                $("#tambah").modal("hide")
                $("#msg div").remove()
                if(err.responseJSON?.msg){
                    $("#msg").append(`
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <p>${err.responseJSON.msg}</p>
                        </div>
                    `)
                }else{
                    $("#msg").append(`
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <p>Terjadi kesahalan</p>
                        </div>
                    `)
                }
            }

        })
    })

    $("#tambahDivisiForm").on("submit",function(e){
        e.preventDefault()
        const divisi = $("#tsdivisi").val()
        $.ajax({
            url:"{% url 'tspopgdivisi' %}",
            method:'post',
            data:{divisi},
            headers:{"X-CSRFToken":token},
            success(e){
                $("#tambahdivisi").modal("hide")
                $("#msg div").remove()
                table.ajax.reload()
                $("#tambahDivisiForm")[0].reset()
                tsdivisi_selectize[0].selectize.clear()
                console.log(e)
            },
            error(err){
                $("#tambahdivisi").modal("hide")
                $("#msg div").remove()
                if(err.responseJSON?.msg){
                    $("#msg").append(`
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <p>${err.responseJSON.msg}</p>
                        </div>
                    `)
                }else{
                    $("#msg").append(`
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <p>Terjadi kesahalan</p>
                        </div>
                    `)
                }
            }
        })
    })

    $("#tambahStatusForm").on("submit",function(e){
        e.preventDefault()
        const status = $("#tsstatus").val()
        $.ajax({
            url:"{% url 'tspopgstatus' %}",
            method:'post',
            data:{status},
            headers:{"X-CSRFToken":token},
            success(e){
                $("#tambahstatus").modal("hide")
                $("#msg div").remove()
                table.ajax.reload()
                $("#tambahStatusForm")[0].reset()
                tsstatus_selectize[0].selectize.clear()
                console.log(e)
            },
            error(err){
                $("#tambahstatus").modal("hide")
                $("#msg div").remove()
                if(err.responseJSON?.msg){
                    $("#msg").append(`
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <p>${err.responseJSON.msg}</p>
                        </div>
                    `)
                }else{
                    $("#msg").append(`
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <p>Terjadi kesahalan</p>
                        </div>
                    `)
                }
            }
        })
    })

    $("#hapusForm").on("submit",function(e){
        e.preventDefault()
        const id = $("#hapus_id").val()
        $.ajax({
            url:"{% url 'hspgopg' %}",
            method:'post',
            data:{id},
            headers:{"X-CSRFToken":token},
            success(e){
                $("#hapus").modal("hide")
                table.ajax.reload()
                $("#msg div").remove()
                $("#hapusForm")[0].reset()
            },
            error(err){
                $("#hapus").modal("hide")
                $("#msg div").remove()
                if(err.responseJSON?.msg){
                    $("#msg").append(`
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <p>${err.responseJSON.msg}</p>
                        </div>
                    `)
                }else{
                    $("#msg").append(`
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <p>Terjadi kesahalan</p>
                        </div>
                    `)
                }
            }
        })
    })


    $("#edit").on("show.bs.modal",function(e){
        const pegawai = $(e.relatedTarget).data("pegawai")
        const id = $(e.relatedTarget).data("eid")
        $("#edit_id").val(id)
        espegawai_selectize[0].selectize.setValue(pegawai)
    })

    $("#hapus").on("show.bs.modal",function(e){
        const id = $(e.relatedTarget).data("hid")
        $("#hapus_id").val(id)
    })

</script>

{% endblock hrd_ajax %}