{% extends "hrd_app/master/base.html" %}

{% block breadcrumb %}

<!-- <div class="alert alert-warning alert-dismissible tx-info"><marquee class="py-0" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    Untuk saat ini proses absensi tidak dapat dilakukan, sampai informasi ini ditiadakan.  
</marquee></div> -->

<div class="br-pagebody">  

    <div class="br-section-wrapper">
        <!-- Pesan Error -->
        {% for message in messages %}
        <div class="container-fluid p-0">
            {% if 'safe' in message.tags %}
            <div class="alert alert-info alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <!-- Pengaturan -->
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Pengaturan Status Pegawai OPG</h6>
    
        <!-- Modul Pengaturan -->        
        <div class="d-flex align-items-center justify-content-start">     
            {% csrf_token %}
            <div class="mg-r-auto">   
                <button data-target="#tambah" data-toggle="modal" class="btn btn-primary mg-b-6">Tambah</button> &nbsp; &nbsp; &nbsp; &nbsp;
                {% include 'hrd_app/master/modul_pengaturan.html' %}
            </div>          
        </div>

        <br>

        <div id="loader"></div>            
        <div class="table-wrapper">
            <table id="tabelku" class="table display responsive" style="width:100%">
            <thead>
                <tr>
                <th nowrap>Status Pegawai</th>
                <th>Action</th>
                </tr>
            </thead>
            </table>
        </div>
        <div id="tambah" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Tambah {{modul_aktif}}</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                <form id="tambahForm" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
                        <div class="col-lg-12">
                            <div class="form-group mg-b-10-force">
                                <select name="tstatus" id="tstatus">
                                    <option value="">Pilih Status Pegawai</option>
                                    {% for s in status %}
                                        <option value="{{s.pk}}">{{s.status}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
        
                        <div class="modal-footer">
                        <button type="submit" id="submit_button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Tambah</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>              
            </div>
            </div>
            </div>
            <!-- akhir modal tambah -->
            <div id="edit" class="modal fade">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-y-20 pd-x-25">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Edit {{modul_aktif}}</h6>          
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>          
                    </div>
                    
                    <form id="editForm" method="post">
                        {% csrf_token %}
                        <div class="form-layout form-layout-1">
                        <div class="row mg-b-25">
            
                            <div class="col-lg-12">
                                <div class="form-group mg-b-10-force">
                                    <select name="estatus" id="estatus">
                                    <option value="">Pilih Status Pegawai</option>
                                    {% for s in status %}
                                        <option value="{{s.pk}}">{{s.status}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                            <input type="hidden" name="edit_id" id="edit_id">
                            <div class="modal-footer">
                            <button type="submit" id="submit_button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Edit</button>
                            <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                            </div>            
            
                        </div>
                        </div>            
                    </form>              
                </div>
                </div>
            </div>
            <!-- akhir modal edit -->
            <div id="hapus" class="modal fade">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-y-20 pd-x-25">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Tambah {{modul_aktif}}</h6>          
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>          
                    </div>
                    
                    <form id="hapusForm" method="post">
                        {% csrf_token %}
                        <div class="form-layout form-layout-1">
                        <div class="row mg-b-25">
            
                            <div class="col-lg-12">
                                <p class="hitam">Apakah Anda Yakin ?</p>
                                <input type="hidden" name="hapus_id" id="hapus_id" class="form-control">
                            </div>
            
                            <div class="modal-footer">
                            <button type="submit" id="submit_button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Hapus</button>
                            <button type="button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                            </div>              
            
                        </div>
                        </div>                
                    </form>              
                </div>
                </div>
            </div>
            <!-- akhir hapus modal -->
    </div>

</div><!-- br-pagebody -->

{% endblock breadcrumb %}

{% block hrd_ajax %}

<script>
    const token = document.querySelector("[name=csrfmiddlewaretoken]").value
    const tstatus_selectize = $("#tstatus").selectize()
    const estatus_selectize = $("#estatus").selectize()


    const table = $("#tabelku").DataTable({
        ajax:{
            url:"{% url 'spgopgjson' %}",
            method:'post',
            headers:{"X-CSRFToken":token},
        },
        columns:[
            {data:"status_pegawai"},
            {
                data:"pk",
                render: function(data, type, row, meta){    
                        data = `<button type="button" class="btn btn-sm btn-warning mb-1 tx-12" data-target="#edit" data-toggle="modal" data-status='${row.status_id}' data-eid='${data}'>Edit</button> &nbsp; <button type="button" class="btn btn-sm btn-danger mb-1 tx-12" data-target="#hapus" data-hid='${data}' data-status='${row.status_id}' data-toggle="modal">Hapus</button>`;
                        return data;
                    } 
            }
        ],
        "rowCallback": function (row, data) {
            $('td', row).eq(0).addClass('hitam');
            $('td', row).eq(1).addClass('hitam');
        },
        ordering:false
    })

    $("#editForm").on("submit",function(e){
        e.preventDefault()
        const status = $("#estatus").val()
        const id = $("#edit_id").val()
        $.ajax({
            url:"{% url 'espgopg' %}",
            method:'post',
            data:{status,id},
            headers:{"X-CSRFToken":token},
            success(e){
                $("#edit").modal("hide")
                table.ajax.reload()
                $("#editForm")[0].reset()
                estatus_selectize[0].selectize.clear()
                console.log(e)
            }
        })
    })

    $("#tambahForm").on("submit",function(e){
        e.preventDefault()
        const status = $("#tstatus").val()
        $.ajax({
            url:"{% url 'tspgopg' %}",
            method:'post',
            data:{status},
            headers:{"X-CSRFToken":token},
            success(e){
                $("#tambah").modal("hide")
                table.ajax.reload()
                $("#tambahForm")[0].reset()
                tstatus_selectize[0].selectize.clear()
                console.log(e)
            }
        })
    })

    $("#hapusForm").on("submit",function(e){
        e.preventDefault()
        const id = $("#hapus_id").val()
        $.ajax({
            url:"{% url 'hspgopg' %}",
            method:'post',
            data:{id},
            headers:{"X-CSRFToken":token},
            success(e){
                $("#hapus").modal("hide")
                table.ajax.reload()
                $("#hapusForm")[0].reset()
            }
        })
    })


    $("#edit").on("show.bs.modal",function(e){
        const status = $(e.relatedTarget).data("status")
        const id = $(e.relatedTarget).data("eid")
        $("#edit_id").val(id)
        estatus_selectize[0].selectize.setValue(status)
    })

    $("#hapus").on("show.bs.modal",function(e){
        const id = $(e.relatedTarget).data("hid")
        $("#hapus_id").val(id)
    })

</script>

{% endblock hrd_ajax %}