<!DOCTYPE html>
<!-- Header -->
<div class="br-header">
    <div class="br-header-left">
      <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
      <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
      <div class="input-group hidden-xs-down wd-170 transition">   
          <h6 class="tx-black tx-medium mg-l-10 mg-r-10 mg-t-20">Hi, {{user}}</h6>   
      </div>
    </div>

    <div class="br-header-right">
      <nav class="nav">
        <select name="cabang" id="cabang">
          {% for c in cabang %}
            <option value="{{c}}">{{c}}</option>
          {% endfor %}
        </select>
        <div class="dropdown">
          <div class="pd-x-25">
              <h4 id="brTime" class="tx-black tx-light mg-b-1"></h4>
          </div>
        </div>
      </nav>
    </div>
  </div>