{% extends "hrd_app/master/base.html" %}

{% block breadcrumb %}


<div class="br-pagebody">  

    <div class="br-section-wrapper">
        <div id="msg"></div>
        {% if messages %}
            {% for message in messages %}
            {% if 'safe' in message.tags %}
            <div class="alert alert-info alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message }}</span>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}

            <form id="gantiPwForm" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <label for="pwSebelum">Password Sebelum</label>
                        <input type="password" name="pwSebelum" id="pwSebelum" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="pwBaru">Password Baru</label>
                        <input type="password" name="pwBaru" id="pwBaru" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="konfirmasi">Konfirmasi Password</label>
                        <input type="password" name="konfirmasi" id="konfirmasi" class="form-control">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Ganti</button>
            </form>
            
    </div>

</div>


{% endblock breadcrumb %}

{% block hrd_ajax %}
<script>
    const token = document.querySelector("input[name=csrfmiddlewaretoken]").value
    $("#gantiPwForm").on("submit",function(e){
        e.preventDefault()
        const pwLama = $("#pwLama").val()
        const pwBaru = $("#pwBaru").val()
        const konfirmasi = $("#konfirmasi").val()

        $.ajax({
            url:"{% url 'ganti_password_json' %}",
            method:"post",
            data:{pwLama,pwBaru,konfirmasi},
            headers:{"X-CSRFToken":token},
            success:(e) => {
                $("#msg p").remove()
                if(e.msg){
                    $("#msg").append(`<p class="alert alert-success">${e.msg}</p>`)
                }else{
                    $("#msg").append(`<p class="alert alert-success">Berhasil ganti password</p>`)
                }
                window.location.reload()
            },
            error:(err) => {
                $("#msg p").remove()
                if(err.responseJSON?.msg){
                    $("#msg").append(`<p class="alert alert-danger">${err.responseJSON.msg}</p>`)
                }else{
                    $("#msg").append(`<p class="alert alert-danger">Terjadi kesalahan</p>`)
                }
                console.log(err)
            }
        })
    })
</script>
{% endblock hrd_ajax %}