{% extends "hrd_app/master/base.html" %}

{% block breadcrumb %}

<!-- <div class="alert alert-warning alert-dismissible tx-info"><marquee class="py-0" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    Untuk saat ini proses absensi tidak dapat dilakukan, sampai informasi ini ditiadakan.  
</marquee></div> -->

<div class="br-pagebody">  

    <div class="br-section-wrapper">
        <!-- Pesan Error -->
        <!-- {% if sid == 0 %} -->
            <!-- <div class="alert alert-danger">Maaf fitur ini sedang dalam perbaikan, silahkan pilih divisi yang ingin diproses</div> -->
        <!-- {% endif %} -->
        {% for message in messages %}
        <div class="container-fluid p-0">
            {% if 'safe' in message.tags %}
            <div class="alert alert-info alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <!-- Absensi -->
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10" id="infotgl">Data Absensi : {{dari}} s/d {{sampai}}</h6>
    
        <!-- Info absensi -->        
        <div class="d-flex align-items-center justify-content-start">     
            <div class="mg-r-auto">   
                            
                <button data-target="#pilih_tgl_proses" data-toggle="modal" class="btn btn-primary mg-b-6">Proses Data Absensi</button>
                <button data-target="#pilih_tgl_cari" data-toggle="modal" class="btn btn-warning mg-b-6">Cari Data Absensi</button> 
                <a href="{% url "tlengkap" sid %}" class="btn btn-success mg-b-6">Yang Perlu Dicek</a>  &nbsp; &nbsp; &nbsp;
            <!-- Button Proses Data -->
            <!-- {% if sid == 0 %} -->
            <!-- <button class="btn btn-primary mg-b-6" disabled>Proses Data Absensi</button> -->
            <!-- {% else %}
            {% endif %} -->
            
            <!-- {% if sid == 0 %} -->
            <!-- <button class="btn btn-warning mg-b-6" disabled>Cari Data Absensi</button> -->
            <!-- {% else %} -->
            <!-- Button Cari Data Absen -->
            <!-- {% endif %} -->

            <!-- Button lainnya -->
            {% include 'hrd_app/master/modul_absensi.html' %} 

            </div>          
        </div>

        <br>        

        <div class="d-flex align-items-center justify-content-start">
            <div class="col-md-12 pd-x-0">  
                {% if sid == 0 %}
                    <a href="{% url 'absensi' 0 %}" class="btn btn-info mg-b-8">Semua Divisi</a> &nbsp; 
                        
                    {% for s in status %}   
                        <a href="{% url 'absensi' s.id%}" class="btn btn-outline-info mg-b-8">{{s.status}}</a> &nbsp;  
                    {% endfor %}

                {% else %}
                    <a href="{% url 'absensi' 0 %}" class="btn btn-outline-info mg-b-8">Semua Divisi</a> &nbsp; 
                    
                    {% for s in status %}   
                        {% if s.id == sid %}
                            <a href="{% url 'absensi' s.id%}" class="btn btn-info mg-b-8">{{s.status}}</a> &nbsp;   
                        {% else %}
                            <a href="{% url 'absensi' s.id%}" class="btn btn-outline-info mg-b-8">{{s.status}}</a> &nbsp; 
                        {% endif %}
                    {% endfor %}
                {% endif %}
                

            </div>            
        </div>

        <br>

        <div id="loader"></div>            

        <!-- Table -->
        <div class="" style="width: 100%">
            <table id="tabelku"  style="width: 100%" class="table">
            <thead>
                <tr>
                <th nowrap>Tanggal</th>
                <th>Nama</th>
                <th>Nik</th>
                <th>Userid</th>
                <th>Divisi</th>
                <th>Masuk</th>
                <th>Keluar</th>
                <th>Kembali</th>
                <th>Pulang</th>
                <th>Masuk (B)</th>
                <th>Keluar (B)</th>
                <th>Kembali (B)</th>
                <th>Pulang (B)</th>
                <th>T.Jam</th>
                <th>Keterangan</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
            </table>
        </div>

        <!-- Modal proses -->
        <div id="pilih_tgl_proses" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Proses Data Absensi</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                <form action="{% url 'pbs' %}" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
        
                        <div class="col-lg-6">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label tx-inverse">Dari Tanggal-(tgl-bln-tahun):</label>
                                {% if akses == 'root' %}
                                <input type="text" name="tgl1" id="tgl1" class="form-control tgl1" placeholder="Dari Tanggal">
                                {% else %}
                                <input type="text" name="tgl1" id="tgl1" class="form-control tgl1" placeholder="Dari Tanggal" disabled>
                                {% endif %}
                            </div>
                        </div>
        
                        <div class="col-lg-6">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label tx-inverse">Sampai Tanggal-(tgl-bln-tahun):</label>
                                {% if akses == 'root' %}
                                <input type="text" name="tgl2" id="tgl2" class="form-control tgl1" placeholder="Dari Tanggal">
                                {% else %}
                                <input type="text" name="tgl2" id="tgl2" class="form-control tgl1" placeholder="Dari Tanggal" disabled>
                                {% endif %}
                            </div>
                        </div>

                        <input type="hidden" name="sid" class="form-control" value="{{sid}}">
        
                        <div class="modal-footer">
                        <button type="submit" id="submit_button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Proses Data</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>              
            </div>
            </div><!-- modal-dialog -->
        </div>

        <!-- Modal cari -->
        <div id="pilih_tgl_cari" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Cari Data Absensi</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                <form method="post" id="cariForm">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
        
                        <div class="col-lg-6">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label tx-inverse">Dari Tanggal-(tgl-bln-tahun):</label>
                                <input type="text" name="ctgl1" id="ctgl1" class="form-control tgl1" placeholder="Dari Tanggal" required>
                            </div>
                        </div>
        
                        <div class="col-lg-6">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label tx-inverse">Sampai Tanggal-(tgl-bln-tahun):</label>
                                <input type="text" name="ctgl2" id="ctgl2" class="form-control tgl1" placeholder="Dari Tanggal" required>
                            </div>
                        </div>

                        <input type="hidden" name="sid" class="form-control" value="{{sid}}">
        
                        <div class="modal-footer">
                        <button type="submit" id="submit_buttonCari" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Cari Data</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>              
            </div>
            </div><!-- modal-dialog -->
        </div>


        <!-- Modal ijin -->
        <div id="editIjin" class="modal fade" style="width:100%">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Form Ubah Keterangan</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                <form id="ubah_ket" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                        <label for="ket">Daftar Ijin</label>
                        <select name="jenis_ijin" id="jenis_ijin" class="mb-4">
                            <option value="">Pilih Ijin</option>
                            {% for j in jenis_ijin %}
                                <option value="{{j.id}}">{{j.jenis_ijin}}</option>
                            {% endfor %}
                        </select>
                        <label for="ket">Keterangan Tambah</label>
                        {% comment %} <label for="ket">Keterangan Tambahan</label> {% endcomment %}
                        <textarea name="ket" class="form-control" id="ket" style="width: 600px;"></textarea>
                        <input type="hidden" name="sid" class="form-control" value="{{sid}}">
                        <input type="hidden" name="id" id="idAb" class="form-control">
                        <div class="mt-3 d-flex justify-content-end gap-3">
                            <button type="submit" class="btn btn-primary mr-2">Ubah</button>
                            <button class="btn btn-secondary">Batalkan</button>
                        </div>
                    </div>            
                </form>              
            </div>
            </div><!-- modal-dialog -->
        </div>

    </div>

</div><!-- br-pagebody -->

{% endblock breadcrumb %}

{% block hrd_ajax %}

<script>
    $(document).ready(function() {
    
        /* tabel */
        sid = "{{sid}}"
        dr = "{{dr}}"
        sp = "{{sp}}"

        var table = $('#tabelku').DataTable({
            ajax:{
                url:"{% url 'absensi_json' dr sp sid %}",
            } ,

            columns: [

                { data: 'tgl' },
                { 
                    data: 'nama',
                    "render": function(data, type, row, meta){    
                        tgl_absen = ""+row.tgl_absen+"";
                        userid = ""+row.userid+"";
                        data = `<a style="color:#0d6efd;" href='/hrd/dabsen/${userid}/${tgl_absen}/${sid}'>${row.nama}</a>`;
                        return data;
                    }
                },
                { data: 'nik' },
                { data: 'userid' },
                { data: 'bagian' },
                {
                    data: 'masuk',
                },
                { data: 'keluar' },
                {
                    data: 'kembali',
                },
                { data: 'pulang'},
                { data: 'masuk_b' },
                { data: 'keluar_b' },
                { data: 'kembali_b' },
                { data: 'pulang_b' },
                { data: 'tj' },
                {
                    data: 'ket',
                    render:(data,type,row,meta) => {
                        if (row.masuk == null && row.ket == " ") {
                            return `<span class="tx-inverse">Tidak Absen Masuk</span>`
                        }else if (row.pulang == null && row.ket == " ") {
                            return `<span class="tx-inverse">Belum Absen Pulang</span>`
                        } else {
                            return `<span class="tx-inverse">${data}</span>`
                        }
                    }
                },
                { 
                    data: null,
                    "render": function(data, type, row, meta){    
                        if(row.masuk == null || row.pulang == null || row.masuk > row.jam_masuk){
                            data = '<button class="btn btn-sm btn-warning mb-1 tx-12" data-toggle="modal" data-target="#editIjin" data-id="'+row.id+'">Edit</button>';
                            return data;
                        } else {
                            return ""
                        }
                    } 
                },
                
            ],   

            "rowCallback": function (row, data) {
                if(data.sln == 1){
                    $('td', row).eq(0).addClass('merah');
                } else{
                    $('td', row).eq(0).addClass('hitam');
                }
                $('td', row).eq(1).addClass('hitam');
                $('td', row).eq(2).addClass('hitam');
                $('td', row).eq(3).addClass('hitam');
                $('td', row).eq(4).addClass('hitam');
                $('td', row).eq(5).addClass('hitam');
                $('td', row).eq(6).addClass('hitam');
                $('td', row).eq(7).addClass('hitam');
                $('td', row).eq(8).addClass('hitam');
                $('td', row).eq(9).addClass('hitam');
                $('td', row).eq(10).addClass('hitam');
                $('td', row).eq(11).addClass('hitam');
                $('td', row).eq(12).addClass('hitam');
                $('td', row).eq(13).addClass('hitam');
                $('td', row).eq(14).addClass('hitam');
                $('td', row).eq(15).addClass('hitam');
            },


            destroy: true,
            ordering: false,
            paging: false,
            scrollX:"100%",
            scrollY: 300,
            processing: true,

            "language": {
                searchPlaceholder: 'Cari...',
                sSearch: '',
                loadingRecords: '&nbsp;',
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                emptyTable: "&nbsp;",

                paginate: {
                    previous: '<i class="cs-chevron-left"></i>',
                    next: '<i class="cs-chevron-right"></i>',
                },
            },
        });   
        

    });

    $("#cariForm").on("submit",(e) => {
        const token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        e.preventDefault()
        var tgl1 = $("#ctgl1").val();
        var tgl2 = $("#ctgl2").val();
        var sid = "{{sid}}";
        $("#tabelku").DataTable().destroy();
        $("#tabelku").DataTable({
            ajax:{
                url: "{% url 'cabsen' %}",
                type: "POST",
                headers: {'X-CSRFToken': token},
                data: {
                    'ctgl1': tgl1,
                    'ctgl2': tgl2,
                    'sid': sid
                },
            },
            columns: [

                { data: 'tgl' },
                { 
                    data: 'nama',
                    "render": function(data, type, row, meta){    
                        tgl_absen = ""+row.tgl_absen+"";
                        userid = ""+row.userid+"";
                        data = `<a style="color:#0d6efd;" href='/hrd/dabsen/${userid}/${tgl_absen}/${sid}'>${row.nama}</a>`;
                        return data;
                    }
                },
                { data: 'nik' },
                { data: 'userid' },
                { data: 'bagian' },
                {
                    data: 'masuk',
                },
                { data: 'keluar' },
                {
                    data: 'kembali',
                },
                { data: 'pulang'},
                { data: 'masuk_b' },
                { data: 'keluar_b' },
                { data: 'kembali_b' },
                { data: 'pulang_b' },
                { data: 'tj' },
                {
                    data: 'ket',
                    render:(data,type,row,meta) => {
                        if (row.pulang == null && row.ket == " ") {
                            return `<span class="tx-inverse">Belum Absen Pulang</span>`
                        }else if (row.masuk == null && row.ket == " ") {
                            return `<span class="tx-inverse">Tidak Absen Masuk</span>`
                        } else {
                            return `<span class="tx-inverse">${data}</span>`
                        }
                    }
                },
                { 
                    data: null,
                    "render": function(data, type, row, meta){    
                        if(row.masuk == null || row.pulang == null || row.masuk > row.jam_masuk){
                            data = '<button class="btn btn-sm btn-warning mb-1 tx-12" data-toggle="modal" data-target="#editIjin" data-id="'+row.id+'">Edit</button>';
                            return data;
                        } else {
                            return ""
                        }
                    } 
                },
                
            ],   

            "rowCallback": function (row, data) {
                if(data.sln == 1){
                    $('td', row).eq(0).addClass('merah');
                } else{
                    $('td', row).eq(0).addClass('hitam');
                }
                $('td', row).eq(1).addClass('hitam');
                $('td', row).eq(2).addClass('hitam');
                $('td', row).eq(3).addClass('hitam');
                $('td', row).eq(4).addClass('hitam');
                $('td', row).eq(5).addClass('hitam');
                $('td', row).eq(6).addClass('hitam');
                $('td', row).eq(7).addClass('hitam');
                $('td', row).eq(8).addClass('hitam');
                $('td', row).eq(9).addClass('hitam');
                $('td', row).eq(10).addClass('hitam');
                $('td', row).eq(11).addClass('hitam');
                $('td', row).eq(12).addClass('hitam');
                $('td', row).eq(13).addClass('hitam');
                $('td', row).eq(14).addClass('hitam');
                $('td', row).eq(15).addClass('hitam');
            },

            destroy: true,
            ordering: false,
            paging: false,
            scrollX:"100%",
            scrollY: 300,
            processing: true,

            "language": {
                searchPlaceholder: 'Cari...',
                sSearch: '',
                loadingRecords: '&nbsp;',
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                emptyTable: "&nbsp;",

                paginate: {
                    previous: '<i class="cs-chevron-left"></i>',
                    next: '<i class="cs-chevron-right"></i>',
                },
            },
        })
        moment.locale("id")
        $("#infotgl").html(`DATA ABSENSI : ${moment(tgl1,"DD-MM-YYYY").format("DD MMM. YYYY")} S/D ${moment(tgl2,"DD-MM-YYYY").format("DD MMM. YYYY")}`)
        $("#pilih_tgl_cari").modal('hide')
        
    })
    const jenisIjin = $("#jenis_ijin").selectize();

    $("#editIjin").on('show.bs.modal', function(e){
        var id = $(e.relatedTarget).data('id');
        console.log(id)
    });

    $("#editIjin").on('show.bs.modal', function(e){
        var id = $(e.relatedTarget).data('id');
        console.log(id)
        $("#idAb").val(id)
    });

    $("#ubah_ket").on("submit", (e) => {
        e.preventDefault();
        const token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        var jenis_ijin = $("#jenis_ijin").val();
        var ket = $("#ket").val();
        var id = $("#idAb").val();
        var sid = "{{sid}}";
        $.ajax({
            url: "{% url 'edit_ijin' %}",
            type: "POST",
            headers: {'X-CSRFToken': token},
            data: {
                'jenis_ijin': jenis_ijin,
                'ket': ket,
                'id': id,
                'sid': sid
            },
            success: function(data){
                console.log(data)
                $("#editIjin").modal('hide')
                $("#tabelku").DataTable().ajax.reload();
            }
        })
    })


</script>   
 


{% endblock hrd_ajax %}