{% extends "hrd_app/master/base.html" %}

{% block breadcrumb %}

<div class="br-pagebody">  

    <div class="br-section-wrapper">
        {% for message in messages %}
        <div class="container-fluid p-0">
            {% if 'safe' in message.tags %}
            <div class="alert alert-info alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <div id="msg"></div>

        <!-- b -->
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Ambil Data Mesin</h6>
        <div class="d-flex align-items-center justify-content-start">     
            <div class="mg-r-auto">   
                <button data-toggle="modal" data-target="#tambahdatamesin" class="btn btn-primary">Tambah Mesin</button>
            <!-- Button Proses Data -->

            <!-- Button Cari Data Absen -->

            <!-- Button lainnya -->
            {% include 'hrd_app/master/modul_absensi.html' %} 

            </div>          
        </div>
        {% comment %} </div> {% endcomment %}

        <br>        

        {% csrf_token %}
        <table class="table" id="tableku">
            <thead>
                <tr>
                    <th>Mesin</th>
                    <th>Ip Address</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Maintenance</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    <!-- alert berhasil -->
    </div>
</div><!-- br-pagebody -->

<div id="tambahdatamesin" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bd-0 tx-14">
        <div class="modal-header pd-y-20 pd-x-25">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Tambah Mesin</h6>          
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>          
        </div>
        
            {% csrf_token %}
            <div class="form-layout form-layout-1">
            <div class="row mg-b-25">

                <div class="col-lg-6 mb-2">
                    <label for="namamesin" class="form-label text-dark">Nama Mesin</label>
                    <input type="text" name="namamesin" id="namamesin" class="form-control">
                </div>
                <div class="col-lg-6 mb-2">
                    <label for="ipaddress" class="form-label text-dark">IPAddres Mesin</label>
                    <input type="text" name="ipaddress" id="ipaddress" class="form-control">
                </div>
                <div class="col-lg-12 mb-2">
                    <label for="status" class="form-label text-dark">Status Mesin</label>
                    <select name="status" id="status">
                        <option value="">Pilih status</option>
                        <option value="Active">Active</option>
                        <option value="Non Active">Non Active</option>
                    </select>
                </div>

                <div class="modal-footer">
                <button type="button" id="buttontambahmesin" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Tambah Mesin</button>
                <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                </div>              
                

            </div>
            </div>            
    </div>
    </div><!-- modal-dialog -->
</div>
<div id="modalhapusmesin" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bd-0 tx-14">
        <div class="modal-header pd-y-20 pd-x-25">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Hapus Mesin</h6>          
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>          
        </div>
        
            {% csrf_token %}
            <div class="form-layout form-layout-1">
            <div class="row mg-b-25">
                <div class="col-lg-12">
                    <p class="text-dark">Anda yakin ingin menghapus mesin?</p>
                </div>
                <input type="hidden" id="mesinidhapus" name="idmesin">
                <div class="modal-footer">
                <button type="button" id="buttonhapusmesin" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Hapus mesin</button>
                <button type="button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                </div>              
                

            </div>
            </div>            
    </div>
    </div><!-- modal-dialog -->
</div>
<div id="modaleditmesin" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bd-0 tx-14">
        <div class="modal-header pd-y-20 pd-x-25">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Edit Mesin</h6>          
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>          
        </div>
        
            {% csrf_token %}
            <div class="form-layout form-layout-1">
            <div class="row mg-b-25">
                <div class="col-lg-6 mb-2">
                    <label for="editnamamesin" class="form-label text-dark">Nama Mesin</label>
                    <input type="text" name="editnamamesin" id="editnamamesin" class="form-control">
                </div>
                <div class="col-lg-6 mb-2">
                    <label for="editipaddress" class="form-label text-dark">IPAddres Mesin</label>
                    <input type="text" name="editipaddress" id="editipaddress" class="form-control">
                </div>
                <div class="col-lg-12 mb-2">
                    <label for="editstatus" class="form-label text-dark">Status Mesin</label>
                    <select name="editstatus" id="editstatus">
                        <option value="">Pilih status</option>
                        <option value="Active">Active</option>
                        <option value="Non Active">Non Active</option>
                    </select>
                </div>
                <input type="hidden" id="editmesinid" name="idmesin">
                <div class="modal-footer">
                <button type="button" id="buttoneditmesin" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Edit mesin</button>
                <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                </div>              
                
            </div>
            </div>            
    </div>
    </div><!-- modal-dialog -->
</div>
{% endblock breadcrumb %}
{% block hrd_ajax %}
    <script>
        const status = $("#status").selectize({
            onChange:function(e){
                if(e !== ""){
                    $("#buttontambahmesin").click()
                }
            }
        })
        const editstatus = $("#editstatus").selectize()
        const token = document.querySelector("input[name=csrfmiddlewaretoken]").value
        const table = $("#tableku").DataTable({
            ajax:{
                url:"{% url 'mesin_json' %}",
                headers:{"X-CSRFToken":token},
            },
            columns:[
                {data:"nama"},
                {data:"ipaddress"},
                {data:"status"},
                {
                    data:null,
                    render:(data,type,row,meta) => {
                        return `<a href="/hrd/tambah_data_mesin/${row.id}" class="btn btn-info">Sinkron</a>&nbsp<button data-id="${row.id}" data-target="#modalhapusmesin" data-toggle="modal" class="btn btn-danger">Hapus Mesin</button>&nbsp<button data-target="#modaleditmesin" data-toggle="modal" class="btn btn-warning" data-id="${row.id}">Edit Mesin</button>`
                    }
                },
                {
                    data:null,
                    render:(data,type,row,meta) => {
                        return `<a href="/hrd/hapusabsen/${row.id}" class="btn btn-danger">Hapus Absensi</a>&nbsp<a href="/hrd/sesuaikanjam/${row.id}" class="btn btn-info">Sesuaikan Jam</a>&nbsp<a href="/hrd/clearbuffer/${row.id}" class="btn btn-dark">Clear Buffer</a>`
                    }
                }
            ],
            "rowCallback": function (row, data) {
                if(data.sln == 1){
                    $('td', row).eq(0).addClass('merah');
                } else{
                    $('td', row).eq(0).addClass('hitam');
                }
                $('td', row).eq(1).addClass('hitam');
                $('td', row).eq(2).addClass('hitam');
                $('td', row).eq(3).addClass('hitam');
            },
        })

        $("#tambahdatamesin").on("show.bs.modal",function(e){
            setTimeout(() => {
                $("#namamesin").focus()
            }, 300);
        })

        $("#modaleditmesin").on("show.bs.modal",function(e){
            setTimeout(() => {
                $("#editnamamesin").focus()
            }, 300);
        })

        $("#modalhapusmesin").on("show.bs.modal",function(e){
            $("#mesinidhapus").val($(e.relatedTarget).data("id"))
        })
        $("#modaleditmesin").on("show.bs.modal",function(e){
            $("#editmesinid").val($(e.relatedTarget).data("id"))
            const id = $(e.relatedTarget).data("id")
            const token = document.querySelector("input[name=csrfmiddlewaretoken]").value
            $.ajax({
                url:"{% url 'getmesin' %}",
                method:"post",
                data:{idmesin:id},
                headers:{"X-CSRFToken":token},
                success:(e) => {
                    $("#editnamamesin").val(e.data.nama)
                    $("#editipaddress").val(e.data.ipaddress)
                    editstatus[0].selectize.setValue(e.data.status)
                },
                error:(err) => {
                    $("#msg p").remove()
                    $("#msg").append(`<p class="alert alert-danger">${err.responseJSON.msg}</p>`)
                    $("#modaleditmesin").modal("hide")
                }
            })
        })
        

        $("#buttontambahmesin").on("click",function(e){
            const namamesin = $("#namamesin").val()
            const ipaddress = $("#ipaddress").val()
            const statusmesin = $("#status").val()
            const token = document.querySelector("input[name=csrfmiddlewaretoken]").value
            $.ajax({
                url:"{% url 'tmesin' %}",
                method:"post",
                data:{namamesin,ipaddress,status:statusmesin},
                headers:{"X-CSRFToken":token},
                success:(e) => {
                    $("#msg p").remove()
                    $("#msg").append(`<p class="alert alert-success">${e.msg}</p>`)
                    $("#tambahdatamesin").modal("hide")
                    $("#namamesin").val("")
                    $("#ipaddress").val("")
                    status[0].selectize.clear()
                    table.ajax.reload()
                },
                error:(err) => {
                    $("#msg p").remove()
                    $("#msg").append(`<p class="alert alert-danger">${err.responseJSON.msg}</p>`)
                    $("#tambahdatamesin").modal("hide")
                    $("#namamesin").val("")
                    $("#ipaddress").val("")
                    status[0].selectize.clear()
                }
            })
        })
        
        $("#buttonhapusmesin").on("click",function(e){
            const id = $("#mesinidhapus").val()
            console.log(id)
            const token = document.querySelector("input[name=csrfmiddlewaretoken]").value
            $.ajax({
                url:"{% url 'hmesin' %}",
                method:"post",
                data:{idmesin:id},
                headers:{"X-CSRFToken":token},
                success:(e) => {
                    $("#msg p").remove()
                    $("#msg").append(`<p class="alert alert-success">${e.msg}</p>`)
                    $("#modalhapusmesin").modal("hide")
                    table.ajax.reload()
                },
                error:(err) => {
                    $("#msg p").remove()
                    $("#msg").append(`<p class="alert alert-danger">${err.responseJSON.msg}</p>`)
                    $("#modalhapusmesin").modal("hide")
                }
            })
        })
        $("#buttoneditmesin").on("click",function(e){
            const editnamamesin = $("#editnamamesin").val()
            const editipaddress = $("#editipaddress").val()
            const editstatusmesin = $("#editstatus").val()
            const idmesin = $("#editmesinid").val()
            const token = document.querySelector("input[name=csrfmiddlewaretoken]").value
            $.ajax({
                url:"{% url 'emesin' %}",
                method:"post",
                data:{editipaddress,editnamamesin,editstatus:editstatusmesin,idmesin},
                headers:{"X-CSRFToken":token},
                success:(e) => {
                    $("#msg p").remove()
                    $("#msg").append(`<p class="alert alert-success">${e.msg}</p>`)
                    $("#modaleditmesin").modal("hide")
                    $("#editnamamesin").val("")
                    $("#editipaddress").val("")
                    editstatus[0].selectize.clear()
                    $("#editmesinid").val("")
                    table.ajax.reload()
                },
                error:(err) => {
                    $("#msg p").remove()
                    $("#msg").append(`<p class="alert alert-danger">${err.responseJSON.msg}</p>`)
                    $("#editnamamesin").val("")
                    $("#editipaddress").val("")
                    editstatus[0].selectize.clear()
                    $("#editmesinid").val("")
                    $("#modaleditmesin").modal("hide")
                }
            })
        })

        $("#namamesin").keydown((e) => {
            if(e.key == "Enter"){
                $("#ipaddress").focus()
            }
        })
        $("#ipaddress").keydown((e) => {
            console.log(e.key)
            if(e.key == "Enter"){
                status[0].selectize.focus()
            }
        })


        $("#editnamamesin").keydown((e) => {
            if(e.key == "Enter"){
                $("#editipaddress").focus()
            }
        })
        $("#editipaddress").keydown((e) => {
            console.log(e.key)
            if(e.key == "Enter"){
                editstatus[0].selectize.focus()
            }
        })


    </script>
{% endblock hrd_ajax %}