{% extends "hrd_app/master/base.html" %}

{% block breadcrumb %}

<!-- <div class="alert alert-warning alert-dismissible tx-info"><marquee class="py-0" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    Untuk saat ini proses absensi tidak dapat dilakukan, sampai informasi ini ditiadakan.  
</marquee></div> -->

<div class="br-pagebody">  

    <div class="br-section-wrapper">
        <!-- Pesan Error -->
        {% for message in messages %}
        <div class="container-fluid p-0">
            {% if 'safe' in message.tags %}
            <div class="alert alert-info alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <!-- Pengaturan -->
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Pengaturan {{modul_aktif}}</h6>
    
        <!-- Modul Pengaturan -->        
        <div class="d-flex align-items-center justify-content-start">     
            <div class="mg-r-auto">   
                
                <button data-target="#tambah" data-toggle="modal" class="btn btn-primary mg-b-6">Tambah</button> &nbsp;
                <a href="{% url 'scounter_payroll'  %}"><button class="btn btn-warning mg-b-6">Sinkron Data Counter Dengan Payroll</button></a>  &nbsp; &nbsp; &nbsp;
                
                {% include 'hrd_app/master/modul_pengaturan.html' %}
            </div>          
        </div>

        <br>

        <div id="loader"></div>    

        <!-- Table -->
        <div class="table-wrapper">
            <table id="tabelku" class="table display responsive" style="width:100%">
            <thead>
                <tr>
                <th nowrap>Counter</th>
                <th>Action</th>
                </tr>
            </thead>
            </table>
        </div>
        
        <!-- Modal -->
        <div id="tambah" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Tambah {{modul_aktif}}</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                <form id="tambahForm" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
        
                        <div class="col-lg-12">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label tx-inverse">Counter:</label>
                                <input type="text" name="counter" id="counter" class="form-control">
                            </div>
                        </div>
        
                        <div class="modal-footer">
                        <button type="submit" id="submit_button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Tambah</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>              
            </div>
            </div><!-- modal-dialog -->
        </div>

        <div id="edit" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Edit {{modul_aktif}}</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                <form id="editForm" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
        
                        <div class="col-lg-12">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label tx-inverse">Counter:</label>
                                <input type="text" name="ecounter" id="ecounter" class="form-control">
                                <input type="hidden" name="edit_id" id="edit_id" class="form-control">
                            </div>
                        </div>                        
        
                        <div class="modal-footer">
                        <button type="submit" id="submit_button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Edit</button>
                        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>              
            </div>
            </div><!-- modal-dialog -->
        </div>

        <div id="hapus" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Hapus {{modul_aktif}}</h6>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>          
                </div>
                
                <form id="hapusForm" method="post">
                    {% csrf_token %}
                    <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
        
                        <div class="col-lg-12">
                            <p class="hitam">Apakah Anda Yakin ?</p>
                            <input type="hidden" name="hapus_id" id="hapus_id" class="form-control">
                        </div>
        
                        <div class="modal-footer">
                        <button type="submit" id="submit_button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Hapus</button>
                        <button type="button" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Batalkan</button>
                        </div>              
        
                    </div>
                    </div>            
                </form>              
            </div>
            </div><!-- modal-dialog -->
        </div>

    </div>

</div><!-- br-pagebody -->

{% endblock breadcrumb %}

{% block hrd_ajax %}

<script>
    $(document).ready(function() {
    
        /* tabel */
        var table = $('#tabelku').DataTable({
            "ajax": "{% url 'counter_json' %}",

            columns: [

                { data: 'counter' },
                { 
                    data: null,
                    "render": function(data, type, row, meta){    
                        data = '<button type="button" class="btn btn-sm btn-warning mb-1 tx-12" data-target="#edit" data-toggle="modal" data-eid='+row.id+' data-counter = "'+row.counter+'">Edit</button> &nbsp; <button type="button" class="btn btn-sm btn-danger mb-1 tx-12" data-target="#hapus" data-toggle="modal" data-hid='+row.id+'>Hapus</button>';
                        return data;
                    } 
                },
                
            ],   

            "rowCallback": function (row, data) {
                $('td', row).eq(0).addClass('hitam');
            },

            destroy: true,
            ordering: false,
            paging: false,
            scrollX: '100%',
            scrollY: 300,
            processing: true,

            "language": {
                searchPlaceholder: 'Cari...',
                sSearch: '',
                loadingRecords: '&nbsp;',
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                emptyTable: "&nbsp;",

                paginate: {
                    previous: '<i class="cs-chevron-left"></i>',
                    next: '<i class="cs-chevron-right"></i>',
                },
            },

        });   
                
        /* Tambah*/
        tambahForm.addEventListener('submit', e => {
            e.preventDefault()

            const counter = document.getElementById('counter')
            const csrf = document.getElementsByName('csrfmiddlewaretoken')       
            
            $.ajax({
                type: 'POST',
                url: "{% url 'tcounter' %}",
                data: {
                    'csrfmiddlewaretoken': csrf[0].value,
                    'counter': counter.value,
                },
                success: function (response) { 
                    
                    if (response.status == 'ok') { 
                        console.log(response.status)       
                    } else if(response.status == 'duplikat'){
                        alert('Duplikat Data, proses dibatalkan.')
                    } 
                    
                    table.ajax.reload(null, false);

                    $('#tambah').modal('hide');
                    $("#tambahForm")[0].reset();                   
                        
                },
                error: function (error) {
                    alert('Terjadi kesalahan sistem, hubungi IT.')
                }
            });

        });

        /* Edit*/
        editForm.addEventListener('submit', e => {
            e.preventDefault()

            const eid = document.getElementById('edit_id')
            const ecounter = document.getElementById('ecounter')
            const csrf = document.getElementsByName('csrfmiddlewaretoken')       
            
            $.ajax({
                type: 'POST',
                url: "{% url 'ecounter' %}",
                data: {
                    'csrfmiddlewaretoken': csrf[0].value,
                    'eid': eid.value,
                    'ecounter': ecounter.value,
                },
                success: function (response) { 
                    
                    if (response.status == 'ok') { 
                        console.log(response.status)       
                    } else if(response.status == 'duplikat'){
                        alert('Duplikat Data, proses dibatalkan.')
                    } 
                    
                    table.ajax.reload(null, false);

                    $('#edit').modal('hide');
                    $("#editForm")[0].reset();                   
                        
                },
                error: function (error) {
                    alert('Terjadi kesalahan sistem, hubungi IT.')
                }
            });

        });

        /* Hapus*/
        hapusForm.addEventListener('submit', e => {
            e.preventDefault()

            const hid = document.getElementById('hapus_id')
            const csrf = document.getElementsByName('csrfmiddlewaretoken')       
            
            $.ajax({
                type: 'POST',
                url: "{% url 'hcounter' %}",
                data: {
                    'csrfmiddlewaretoken': csrf[0].value,
                    'hid': hid.value,
                },
                success: function (response) { 
                    
                    if (response.status == 'ok') { 
                        console.log(response.status)       
                    } else {
                        alert('Masih terdapat pegawai aktif yang masuk ke dalam counter ini, proses dibatalkan.')
                    }
                    
                    table.ajax.reload(null, false);

                    $('#hapus').modal('hide');
                    $("#hapusForm")[0].reset();                   
                        
                },
                error: function (error) {
                    alert('Terjadi kesalahan sistem, hubungi IT.')
                }
            });

        });

    });

</script>

<!-- Modal Script -->
<script>

$('#edit').on('show.bs.modal', function (e) {
      
    var edit_id = $(e.relatedTarget).data('eid');
    var counter = $(e.relatedTarget).data('counter');
    
    //populate the textbox
    $(e.currentTarget).find('input[name="edit_id"]').val(edit_id);
    $(e.currentTarget).find('input[name="ecounter"]').val(counter);
      
});

$('#hapus').on('show.bs.modal', function (e) {
      
      var hapus_id = $(e.relatedTarget).data('hid');
      
      //populate the textbox
      $(e.currentTarget).find('input[name="hapus_id"]').val(hapus_id);
        
  });

</script>

{% endblock hrd_ajax %}