{% extends "hrd_app/master/base.html" %}

{% block breadcrumb %}
{% load static %}
<!-- <div class="alert alert-warning alert-dismissible tx-info"><marquee class="py-0" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
    Untuk saat ini proses absensi tidak dapat dilakukan, sampai informasi ini ditiadakan.  
</marquee></div> -->

<div class="br-pagebody">  

    <div class="br-section-wrapper">
        <!-- Pesan Error -->
        {% for message in messages %}
        <div class="container-fluid p-0">
            {% if 'safe' in message.tags %}
            <div class="alert alert-info alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message | safe }}</span>
            </div>
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <span class="tx-16"></span>{{ message }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <!-- Absensi -->
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Edit Pegawai</h6>
    
        <!-- Info absensi -->        
        <div class="d-flex align-items-center justify-content-start">     
            <div class="mg-r-auto">   
                            
            <!-- Button Registrasi -->
            <button data-target="#pilih_tgl_proses" data-toggle="modal" class="btn btn-primary mg-b-6">Registrasi</button>            

            <!-- Button Perjanjian & Kontrak Kerja -->
            <button data-target="#pilih_tgl_proses" data-toggle="modal" class="btn btn-dark mg-b-6">Perjanjian & Kontrak Kerja</button>

            <!-- Button Pegawai Non Aktif -->
            <a href="{% url 'pegawai' sid %}"><button class="btn btn-success mg-b-6">Pegawai Aktif</button></a> 

            <!-- Button Pegawai Non Aktif -->
            <a href="{% url 'non_aktif' sid %}"><button class="btn btn-danger mg-b-6">Pegawai Non Aktif</button></a> 

            </div>          
        </div>

        <br>           
        <div class="row">
            <div class="col-lg-12">
                <div id="wizard1">
                    <h3>General Data</h3>
                    <section>
                        <div class="form-layout form-layout-1">
                            <div class="row mg-b-10">
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Nama: <span class="tx-danger">*</span></label>
                                  <input class="form-control" type="text" name="nama" id="nama" value="{{pg.nama}}" required>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Gender: <span class="tx-danger">*</span></label>
                                    <select name="gender" id="gender" class="form-control select2-show-search" required>
                                      <p>{{pg.gender}}</p>
                                      {% for g in gender %}
                                        {% if g == pg.gender %}
                                            <option value="{{pg.gender}}" selected>{{pg.gender}}</option>
                                          {% else %}
                                            <option value="{{pg.gender}}">{{pg.gender}}</option>
                                        {% endif %}
                                      {% endfor %}
                                    </select>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Tgl Masuk: <span class="tx-danger">*</span></label>
                                  <input type="text" name="tgl_masuk" id="tgl_masuk" value="{{pg.tgl_masuk}}" class="form-control tgl1" placeholder="tgl-bln-tahun" required>
                                </div>
                              </div> 
                              
                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">NIK: <span class="tx-danger">*</span></label>
                                  <input class="form-control" type="text" name="nik" value="{{pg.nik}}" id="nik" required>
                                </div>
                              </div> 
                              
                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Userid: <span class="tx-danger">*</span></label>
                                  <input class="form-control" type="text" name="userid" value="{{pg.userid}}" id="userid" required>
                                </div>
                              </div> 

                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Divisi: <span class="tx-danger">*</span></label>
                                  <select name="div" id="div" class="form-control select2-show-search" data-placeholder="" required>
                                    <option label=""></option>
                                    {% for d in divisi %}
                                    {% if pg.divisi_id == d.id %}
                                      <option value={{d.id}} selected>{{d.divisi}}</option>
                                    {% else %}
                                      <option value={{d.id}}>{{d.divisi}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                </div>
                              </div> 
                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Status: <span class="tx-danger">*</span></label>
                                  <select name="status" id="status" class="form-control select2-show-search" data-placeholder="" required>
                                    <option label=""></option>
                                    {% for s in status %}
                                    {% if pg.status_id == s.id %}
                                      <option value={{s.id}} selected>{{s.status}}</option>
                                    {% else %}
                                      <option value={{s.id}}>{{s.status}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                </div>
                              </div> 

                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Counter:</label>
                                  <select name="counter" id="counter" class="form-control select2-show-search" data-placeholder="" required>
                                    <option label=""></option>
                                    {% for c in counter %}
                                    {% if pg.counter_id == c.id %}
                                    <option value={{c.id}} selected>{{c.counter}}</option>  
                                    {% else %}
                                    <option value={{c.id}}>{{c.counter}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                </div>
                              </div> 

                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Jabatan:</label>
                                  <select name="jabatan" id="jabatan" class="form-control select2-show-search" data-placeholder="" required>
                                    <option label=""></option>
                                    {% for j in jabatan %}
                                    {% if pg.jabatan_id == j.id %}
                                      <option value={{j.id}} selected>{{j.jabatan}}</option>
                                    {% else %}
                                      <option value={{j.id}}>{{j.jabatan}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                </div>
                              </div> 

                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Kelompok Kerja: <span class="tx-danger">*</span></label>
                                  <select name="kk" id="kk" class="form-control select2-show-search" data-placeholder="" required>
                                    <option label=""></option>
                                    {% for k in kk %}
                                    {% if pg.kelompok_kerja_id == k.id %}
                                      <option value={{k.id}} selected>{{k.kelompok}}</option>
                                    {% else %}
                                      <option value={{k.id}}>{{k.kelompok}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                </div>
                              </div> 
                             

                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Hari OFF: <span class="tx-danger">*</span></label>
                                  <select name="hr" id="hr" class="form-control select2-show-search" data-placeholder="" required>
                                    <option label=""></option>
                                    {% for h in hr %}
                                    {% if pg.hari_off_id == h.id %}
                                      <option value={{h.id}} selected>{{h.hari}}</option>
                                    {% else %}
                                      <option value={{h.id}}>{{h.hari}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                </div>
                              </div> 

                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Cuti Awal: <span class="tx-danger">*</span></label>
                                  <input class="form-control" type="text" name="ca" id="ca">
                                </div>
                              </div> 

                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Rekening:</label>
                                  <input class="form-control" type="text" name="rek" id="rek" value={{pg.no_rekening}}>
                                </div>
                              </div> 

                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Payroll By: <span class="tx-danger">*</span></label>
                                  <select name="payroll" id="payroll" class="form-control select2-show-search" required>
                                    {% for pay in payroll %}
                                      {% if pg.payroll_by == pay %}
                                        <option value="{{pay}}" selected>{{pay}}</option>
                                      {% else %}
                                        <option value="{{pay}}">{{pay}}</option>
                                      {% endif %}
                                    {% endfor %}
                                </select>
                                </div>
                              </div> 

                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">No. BPJS KS:</label>
                                  <input class="form-control" type="text" name="nks" value="{{pg.no_bpjs_ks}}" id="nks">
                                </div>
                              </div> 

                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">No. BPJS TK:</label>
                                  <input class="form-control" type="text" name="ntk" value="{{pg.no_bpjs_tk}}" id="ntk">
                                </div>
                              </div> 

                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Premi KS:</label>
                                  <input class="form-control" type="text" name="pks" id="pks" value="{{pg.ks_premi}}">
                                </div>
                              </div>
                              
                              <div class="col-lg-3">
                                <div class="form-group">
                                  <label class="form-control-label tx-inverse">Premi TK:</label>
                                  <input class="form-control" type="text" name="ptk" id="ptk" value="{{pg.tk_premi}}">
                                </div>
                              </div> 
                              
                            </div>
                        </div>
                    </section>

                    <h3>Data Pribadi</h3>
                    <section>
                        <div class="form-layout form-layout-1">
                            <div class="row mg-b-10">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                    <label class="form-control-label tx-inverse">Alamat:</label>
                                    <input class="form-control" type="text" name="alamat" value="{{pribadi.alamat}}" id="alamat" required>
                                    </div>
                                </div> 
                              
                                <div class="col-lg-3">
                                    <div class="form-group">
                                    <label class="form-control-label tx-inverse">HP / Telp.: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="phone" id="phone" value="{{pribadi.phone}}" required>
                                    </div>
                                </div>
                              
                                <div class="col-lg-3">
                                    <div class="form-group">
                                    <label class="form-control-label tx-inverse">Email:</label>
                                    <input class="form-control" type="email" name="email" value="{{pribadi.email}}" id="email">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                    <label class="form-control-label tx-inverse">Kota Kelahiran: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="kota_lahir" value="{{pribadi.kota_lahir}}" id="kota_lahir" required>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                      <input type="hidden" name="id" value="{{id}}" id="id">
                                    <label class="form-control-label tx-inverse">Tgl Lahir: <span class="tx-danger">*</span></label>
                                    <input type="text" name="tgl_lahir" id="tgl_lahir" class="form-control tgl2" value="{{pribadi.tgl_lahir}}" placeholder="tgl-bln-tahun" required>
                                    </div>
                                </div> 

                                <div class="col-lg-3">
                                    <div class="form-group">
                                    <label class="form-control-label tx-inverse">Tinggi Badan:</label>
                                    <input class="form-control" type="number" name="tinggi" value="{{pribadi.tinggi_badan}}" id="tinggi">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                    <label class="form-control-label tx-inverse">Berat Badan:</label>
                                    <input class="form-control" type="number" name="berat" value="{{pribadi.berat_badan}}" id="berat">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                    <label class="form-control-label tx-inverse">Gol Darah:</label>
                                    <select name="goldarah" id="goldarah" class="form-control select2-show-search" data-placeholder="">
                                        <option label=""></option>
                                        {% for drh in goldarah %}
                                          {% if drh == pribadi.gol_darah %}
                                            <option value="{{drh}}" selected>{{drh}}</option>
                                          {% else %}
                                            <option value="{{drh}}">{{drh}}</option>
                                          {% endif %}
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div> 

                                <div class="col-lg-3">
                                    <div class="form-group">
                                    <label class="form-control-label tx-inverse">Agama: <span class="tx-danger">*</span></label>
                                        <select name="agama" id="agama" class="form-control select2-show-search" required
                                    >
                                      {% for agm in agama %}
                                      {% if agm == pribadi.agama %}
                                        <option value="{{agm}}" selected>{{agm}}</option>
                                      {% else %}
                                        <option value="{{agm}}">{{agm}}</option>
                                      {% endif %}
                                      {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                    &nbsp;
                                    </div>
                                </div>
                                
                                <div class="col-lg-3">
                                    <div class="form-group">
                                    &nbsp;
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                        
                        <p>&nbsp;</p>

                        <div class="form-layout form-layout-1">
                          <span class="tx-inverse">DATA KELUARGA</span> <br><br>

                          <div id="data_keluarga" class="row mg-b-10">       
                            
                              <div class="col-lg-12">
                                <form id="tambah_keluargaForm">
                                  {% csrf_token %}
                                  <div class="row mg-b-1">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <select name="thubungan_keluarga" id="thubungan_keluarga" class="form-control select2-show-search" data-placeholder="Pilih Hubungan">
                                                <option label="Pilih Hubungan"></option>            
                                                <option value="Ayah">Ayah</option>                                                
                                                <option value="Ibu">Ibu</option>
                                                <option value="Kakak">Kakak</option>
                                                <option value="Adik">Adik</option>
                                                <option value="Istri">Istri</option>
                                                <option value="Anak">Anak</option>
                                                <option value="Sepupu">Sepupu</option>
                                                <option value="Ipar">Ipar</option>
                                                <option value="Mertua">Mertua</option>
                                                <option value="Lainnya">Lainnya</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                        <input class="form-control" type="text" name="tnama_keluarga" id="tnama_keluarga" placeholder="Nama">    
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="form-group">
                                        <input type="text" name="ttgl_lahir_keluarga" id="ttgl_lahir_keluarga" class="form-control tgl3" placeholder="Tgl Lahir">
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <select name="tgender_keluarga" id="tgender_keluarga" class="form-control select2-show-search" data-placeholder="Gender">
                                                <option label="Gender"></option>
                                                <option value="Perempuan">Perempuan</option>
                                                <option value="Laki-Laki">Laki-Laki</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <select name="tgoldarah_keluarga" id="tgoldarah_keluarga" class="form-control select2-show-search" data-placeholder="Gol Darah">
                                                <option label="Gol Darah"></option>
                                                <option value="O">O</option>
                                                <option value="A">A</option>
                                                <option value="B">B</option>
                                                <option value="AB">AB</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                      <div class="form-group">
                                          <button type="button" id="tambahKeluarga" class="btn btn-primary">Tambahkan</button>
                                      </div>
                                  </div>

                                  </div>
                                </form>
                              </div>
                              <div id="keluarga">

                              </div>
                            
                          </div>
                          
                        </div>

                        <p>&nbsp;</p>

                        <div class="form-layout form-layout-1">
                          <span class="tx-inverse">PIHAK YANG DAPAT DIHUBUNGI</span> <br><br>

                            <div id="data_kl" class="row mg-b-10">

                              <div class="col-lg-12">
                                <form id="tambah_klForm">
                                  {% csrf_token %}
                                  <div class="row mg-b-1">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <select name="thubungan_kl" id="thubungan_kl" class="form-control select2-show-search" data-placeholder="Pilih Hubungan">
                                                <option label="Pilih Hubungan"></option>            
                                                <option value="Ayah">Ayah</option>                                                
                                                <option value="Ibu">Ibu</option>
                                                <option value="Kakak">Kakak</option>
                                                <option value="Adik">Adik</option>
                                                <option value="Istri">Istri</option>
                                                <option value="Anak">Anak</option>
                                                <option value="Sepupu">Sepupu</option>
                                                <option value="Ipar">Ipar</option>
                                                <option value="Mertua">Mertua</option>
                                                <option value="Lainnya">Lainnya</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                        <input class="form-control" type="text" name="tnama_kl" id="tnama_kl" placeholder="Nama">    
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <select name="tgender_kl" id="tgender_kl" class="form-control select2-show-search" data-placeholder="Gender">
                                                <option label="Gender"></option>
                                                <option value="Perempuan">Perempuan</option>
                                                <option value="Laki-Laki">Laki-Laki</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                          <input class="form-control" type="text" name="tphone" id="tphone" placeholder="HP / Telp.">   
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                      <div class="form-group">
                                          <button type="button" id="tambahPihak" class="btn btn-primary">Tambahkan</button>
                                      </div>
                                  </div>

                                  </div>
                                </form>
                              </div>
                              
                              <!-- kontak lain -->
                              <div id="pihak">

                              </div>

                        </div>
                    </section>

                    <h3>Pengalaman Kerja & Pendidikan</h3>
                    <section>
                      <div class="form-layout form-layout-1">
                        <span class="tx-inverse">PENGALAMAN KERJA</span>
                        <button class="btn btn-primary ml-4" id="buttonModalTambahPengalaman" data-target="#tambahPengalaman" data-toggle="modal">Tambah</button>
                        <br><br>
                        <div id="pengalaman">

                        </div>
                      </div>

                      <p>&nbsp;</p>

                      <div class="form-layout form-layout-1">
                        <span class="tx-inverse">PENDIDIKAN</span>
                        <button class="btn btn-primary ml-4" id="buttonModalTambahPendidikan" data-target="#tambahPendidikan" data-toggle="modal">Tambah</button>
                        <br><br>
                        <div id="pendidikan">

                        </div>
                        
                      </div>
                    </section>
                    
                </div>
            </div>
        </div>

        <!-- Modal -->

    </div>

</div><!-- br-pagebody -->
<div class="modal fade" id="tambahPendidikan" tabindex="-1" aria-labelledby="tambahPendidikanLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tambahPendidikanLabel">Tambah Pendidikan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="flex gap-3 mb-3">
          <div class="w-1/2">
            <select name="pendidikanModalPendidikan" id="pendidikanModalPendidikan">
              <option value="">Pilih Pendidikan</option>
              <option value="SMP">SMP</option>
              <option value="SMK/SMA">SMK</option>
              <option value="KULIAH">Kuliah</option>
            </select>
          </div>
          <div class="w-1/2">
            <input type="text" class="form-control" name="namaModalPendidikan" placeholder="Nama Sekolah" id="namaModalPendidikan">
          </div>
        </div>
        <div class="flex gap-3 mb-3">
          <div class="w-1/2">
            <select name="kotaModalPendidikan" id="kotaModalPendidikan">
              <option value="">Pilih Kota/Kabupaten</option>
              {% for k in kota_kabupaten %}
              <option value="{{k.pk}}">{{k.nama_koka}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="w-1/2">
            <input type="text" class="form-control tgl2" name="dari_tahun" placeholder="Dari Tahun" id="dari_tahunModalPendidikan">
          </div>
        </div>
        <div class="flex gap-3 mb-3">
          <div class="w-1/2">
            <input type="text" class="form-control tgl2" name="sampai_tahun" placeholder="Sampai Tahun" id="sampai_tahunModalPendidikan">
          </div>
          <div class="w-1/2">
            <input type="text" class="form-control" name="jurusan" placeholder="Jurusan" id="jurusanModalPendidikan">
          </div>
        </div>
        <div class="flex gap-3 mb-3">
          <div class="w-full">
            <input type="text" class="form-control" name="gelar" placeholder="Gelar" id="gelarModalPendidikan">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-primary" id="buttonTambahPendidikan">Tambah</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tambahPengalaman" tabindex="-1" role="dialog" aria-labelledby="tambahPengalamanModelTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tambahPengalamanModelTitle">Tambah Pengalaman</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="flex gap-3 mb-3">
          <div class="w-1/2">
            <input type="text" class="form-control" name="perusahaan" placeholder="Perusahaan" id="perusahaan">
          </div>
          <div class="w-1/2">
            <select name="kotaModalPengalaman" id="kotaModalPengalaman">
              <option value="">Pilih Kota/Kabupaten</option>
              {% for k in kota_kabupaten %}
              <option value="{{k.pk}}">{{k.nama_koka}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="flex gap-3 mb-3">
          <div class="w-1/2">
            <input type="text" class="form-control tgl2" name="dari" placeholder="Dari" id="dariModalPengalaman">
          </div>
          <div class="w-1/2">
            <input type="text" class="form-control tgl2" name="sampai" placeholder="Sampai" id="sampaiModalPengalaman">
          </div>
        </div>
        <div class="flex gap-3 mb-3">
          <div class="w-full">
            <input type="text" class="form-control" name="jabatan" placeholder="jabatan" id="jabatanModalPengalaman">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-primary" id="buttonTambahPengalaman">Tambah</button>
      </div>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block hrd_ajax %}

<script>
  $('#wizard1').steps({
    headerTag: 'h3',
    bodyTag: 'section',
    autoFocus: true,
    onFinished:finished
  });
//  <------------------------------------------------------------------>
// Selectize
const kotaModalPendidikan = $("#kotaModalPendidikan").selectize()
const pendidikanSelectize = $("#pendidikanModalPendidikan").selectize()
const kotaModalPengalaman = $("#kotaModalPengalaman").selectize()

//  <------------------------------------------------------------------>



const keluarga = JSON.parse('{{keluarga}}'.replace(/&#x27;/gi,`"`))
const pihak = JSON.parse('{{kontak_lain}}'.replace(/&#x27;/gi,`"`))
const pendidikan = JSON.parse("{{pendidikan}}".replace(/&#x27;/gi,'"'))
const pengalaman = JSON.parse("{{pengalaman}}".replace(/&#x27;/gi,'"'))

localStorage.setItem("data_keluarga",JSON.stringify(keluarga))
localStorage.setItem("data_pihak",JSON.stringify(pihak))
localStorage.setItem("data_pendidikan",JSON.stringify(pendidikan))
localStorage.setItem("data_pengalaman",JSON.stringify(pengalaman))
console.log(localStorage.getItem("data_pengalaman"))
const tambahPendidikanModal = $("#tambahPendidikan")
const tambahPengalamanModal = $("#tambahPengalaman")


$("#keluarga").html("")
$("#pihak").html("")
$("#pengalaman").html('')
tambahKl(keluarga)
tambahPh(pihak)
tambahPgl(pengalaman)
tambahPdk(pendidikan)
// <------------------------------------------------------------------->



// <------------------------------------------------------------------->
// Hapus
  $("#keluarga").on("click",'.hapusKeluarga',function(e){
    const id = $(e.target).attr("data-id")
    console.log(id)
    console.log(localStorage.getItem("data_keluarga"))
    const json = JSON.parse(localStorage.getItem("data_keluarga"))
    console.log(JSON.parse(localStorage.getItem("data_keluarga")))
    json.splice(id,1)
    localStorage.setItem("data_keluarga",JSON.stringify(json))
    tambahKl(json)
  })
  $("#pihak").on("click",'.hapusPihak',function(e){
    console.log("sd")
    const id = $(e.target).attr("data-id")
    const json = JSON.parse(localStorage.getItem("data_pihak"))
    json.splice(id,1)
    localStorage.setItem("data_pihak",JSON.stringify(json))
    tambahPh(json)
  })

  $("#pendidikan").on("click",".hapusPendidikan",function(e){
    const id = $(e.target).attr("data-id")
    const json = JSON.parse(localStorage.getItem("data_pendidikan"))
    json.splice(id,1)
    localStorage.setItem("data_pendidikan",JSON.stringify(json))
    tambahPdk(json)
  })

  $("#pengalaman").on("click",".hapusPengalaman",function(e){
    const id = $(e.target).attr("data-id")
    const json = JSON.parse(localStorage.getItem("data_pengalaman"))
    json.splice(id,1)
    localStorage.setItem("data_pengalaman",JSON.stringify(json))
    tambahPgl(json)
  })
// <------------------------------------------------------------------->


// <------------------------------------------------------------------->
// Tambah
  $("#buttonTambahPendidikan").on("click",function(e){
    const pendidikan = $("#pendidikanModalPendidikan").val()
    const nama = $("#namaModalPendidikan").val()
    const kota = $("#kotaModalPendidikan").val()
    const nama_koka = $("#kotaModalPendidikan").find(":selected").text()
    const dari_tahun = moment($("#dari_tahunModalPendidikan").val(),"DD-MM-YYYY").format("DD-MM-YYYY")
    const sampai_tahun = moment($("#sampai_tahunModalPendidikan").val(),"DD-MM-YYYY").format("DD-MM-YYYY")
    const jurusan = $("#jurusanModalPendidikan").val()
    const gelar = $("#gelarModalPendidikan").val()
    const json = JSON.parse(localStorage.getItem("data_pendidikan"))
    if(pendidikan == "" || nama == "" || kota == "" || dari_tahun  == "" || sampai_tahun == "") return false
    const check = json.filter(e => e.pendidikan == pendidikan)
    if(check.length > 0) return false

    console.log(jurusan)
    const obj = {
      nama,pendidikan,kota,nama_koka,dari_tahun,sampai_tahun,jurusan:jurusan ? jurusan : "-",gelar:gelar ? gelar : "-",id:0
    }

    json.push(obj)
    localStorage.setItem("data_pendidikan",JSON.stringify(json))
    tambahPdk(json)
    tambahPendidikanModal.modal("hide")
    $("#pendidikanModalPendidikan").val("")
    $("#namaModalPendidikan").val("")
    $("#kotaModalPendidikan").val("")
    pendidikanSelectize[0].selectize.clear()
    kotaModalPendidikan[0].selectize.clear()
    $("#dari_tahunModalPendidikan").val("")
    $("#sampai_tahunModalPendidikan").val("")
    $("#jurusanModalPendidikan").val("")
    $("#gelarModalPendidikan").val("")
  })

  $("#buttonTambahPengalaman").on("click",function(e){
    const perusahaan = $("#perusahaan").val()
    const kota = $("#kotaModalPengalaman").val()
    const nama_koka = $("#kotaModalPengalaman").find(":selected").text()
    console.log(nama_koka,"sd")
    const dari_tahun = moment($("#dariModalPengalaman").val(),"DD-MM-YYYY").format("DD-MM-YYYY")
    const sampai_tahun = moment($("#sampaiModalPengalaman").val(),"DD-MM-YYYY").format("DD-MM-YYYY")
    const jabatan = $("#jabatanModalPengalaman").val()
    const json = JSON.parse(localStorage.getItem("data_pengalaman"))
    if(pendidikan == "" || nama == "" || kota == "" || dari_tahun  == "" || sampai_tahun == "") return false
    const check = json.filter(e => e.pendidikan == pendidikan)
    if(check.length > 0) return false

    const obj = {
      perusahaan,kota,nama_koka,dari_tahun,sampai_tahun,jabatan:jabatan ? jabatan : "-",id:0
    }
    console.log("ok")
    json.push(obj)
    localStorage.setItem("data_pengalaman",JSON.stringify(json))
    tambahPgl(json)
    tambahPengalamanModal.modal("hide")
    $("#perushaan").val("")
    $("#kotaModalPengalaman").val("")
    kotaModalPengalaman[0].selectize.clear()
    $("#dariModalPengalaman").val("")
    $("#sampaiModalPengalaman").val("")
    $("#jabatanModalPengalaman").val("")

  })

  $("#tambahKeluarga").click(function(e){
    const hubungan = $("#thubungan_keluarga").val()
    const nama = $("#tnama_keluarga").val()
    const tgl_lahir = moment($("#ttgl_lahir_keluarga").val(),"DD-MM-YYYY").format("DD-MM-YYYY")
    const gender = $("#tgender_keluarga").val()
    const gol_darah = $("#tgoldarah_keluarga").val()
    const obj = {
      hubungan,nama,tgl_lahir,gender,gol_darah
    }
    const lokal = JSON.parse(localStorage.getItem("data_keluarga"))
    if(/ayah|ibu/gi.test(hubungan)){
      const cek = lokal.find(e => e.hubungan == hubungan)
      const cekU = lokal.find(e => e.nama == nama)
      if(!cek && !cekU){
        lokal.push(obj) 
      }
    }else{
      const cekU = lokal.find(e => e.nama == nama)
      if(!cekU){
        lokal.push(obj)
      }
    }
    console.log(lokal)
    localStorage.setItem("data_keluarga",JSON.stringify(lokal))
    tambahKl(lokal)

  })

  $("#tambahPihak").click(function(e){
    const hubungan = $("#thubungan_kl").val()
    const nama = $("#tnama_kl").val()
    const gender = $("#tgender_kl").val()
    const phone = $("#tphone").val()
    const obj = {
      hubungan,nama,phone,gender
    }

    const lokal = JSON.parse(localStorage.getItem("data_pihak"))
    if(/ayah|ibu/gi.test(hubungan)){
      const cek = lokal.find(e => e.hubungan == hubungan)
      const cekU = lokal.find(e => e.nama == nama)
      if(!cek && !cekU){
        lokal.push(obj) 
      }
    }else{
      const cekU = lokal.find(e => e.nama == nama)
      if(!cekU){
        lokal.push(obj)
      }
    }
    console.log(lokal)
    localStorage.setItem("data_pihak",JSON.stringify(lokal))
    tambahPh(lokal)

  })
// <------------------------------------------------------------------->


// <------------------------------------------------------------------->

  function tambahKl(keluarga){
    console.log(keluarga)
    $("#keluarga").html("")
    let i = 0
    keluarga.forEach(e => {
      $("#keluarga").append(`
      <div class="row col-12">
      <div class="col-lg-2">
        <div class="form-group">
            <input class="form-control" type="text" value="${e.hubungan}" disabled name="hubungan" id="hubungan" placeholder="Nama"> 
        </div>
    </div>
    
    <div class="col-lg-2">
        <div class="form-group">
        <input class="form-control" type="text" name="nama_keluarga" id="nama_keluarga" disabled value="${e.nama}" placeholder="Nama">    
        </div>
    </div>
    
    <div class="col-lg-2">
        <div class="form-group">
        <input type="text" name="tgl_lahir_keluarga" id="tgl_lahir_keluarga" disabled value="${moment(e.tgl_lahir,"DD-MM-YYYY").format("DD-MM-YYYY")}" class="form-control tgl4" placeholder="Tgl Lahir">
        </div>
    </div> 
    
    <div class="col-lg-2">
        <div class="form-group">
            <input type="text" name="gender_keluarga" id="gender_keluarga" disabled value="${e.gender}" class="form-control tgl4" placeholder="Tgl Lahir">
        </div>
    </div>
      
    <div class="col-lg-2">
        <div class="form-group">
            <input type="text" name="goldarah_keluarga" id="goldarah_keluarga" disabled value="${e.gol_darah}" class="form-control tgl4" placeholder="Tgl Lahir">
        </div>
    </div>
     <div class="col-lg-2">
      <div class="form-group">
        <button class="btn btn-danger hapusKeluarga" data-id="${i}">Hapus</button>
        </div>
        </div>
      </div>
      `)
      i++
    })
  }

  function tambahPh(pihak){
    $("#pihak").html("")
  let pi = 0

pihak.forEach(e => {
  $("#pihak").append(
    `<div class="row col-12">
  <div class="col-lg-2">
    <div class="form-group">
        <input class="form-control" type="text" value="${e.hubungan}" disabled name="hubungan" id="hubungan" placeholder="Nama"> 
    </div>
</div>

<div class="col-lg-2">
    <div class="form-group">
    <input class="form-control" type="text" name="nama_keluarga" id="nama_keluarga" disabled value="${e.nama}" placeholder="Nama">    
    </div>
</div>

<div class="col-lg-3">
    <div class="form-group">
    <input type="text" name="gender" id="gender" disabled value="${e.gender}" class="form-control tgl4" placeholder="Tgl Lahir">
    </div>
</div> 

<div class="col-lg-3">
    <div class="form-group">
        <input type="text" name="phone" id="phone" disabled value="${e.phone}" class="form-control tgl4" placeholder="Tgl Lahir">
    </div>
</div>
 <div class="col-lg-2">
  <div class="form-group">
    <button class="btn btn-danger hapusPihak" data-id="${pi}">Hapus</button>
    </div>
    </div>
  </div>
  `
  )
  pi++
})
  }

  function tambahPgl(pengalaman){
    let i = 0
    $("#pengalaman").html("")
    pengalaman.forEach(e => {
      $("#pengalaman").append(`
      <div class="row mg-b-10">
                          <div class="col-lg-3">
                            <div class="form-group">
                              <input type="text" name="perusahaan" id="perusahaan" value="${e.perusahaan}" class="form-control" placeholder="Perusahaan">
                            </div>
                        </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                  <input type="text" name="kota" id="kota" value="${e.nama_koka}" class="form-control" placeholder="Kota">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                  <input type="text" name="dtahun" id="dtahun_pgl" value="${moment(e.dari_tahun,"DD-MM-YYYY").format("DD-MM-YYYY")}" class="form-control tgl2" placeholder="Dari Tahun">
                                </div>
                            </div> 

                            <div class="col-lg-2">
                              <div class="form-group">
                                <input type="text" name="stahun" id="stahun_pgl" value="${moment(e.sampai_tahun,"DD-MM-YYYY").format("DD-MM-YYYY")}" class="form-control tgl2" placeholder="Sampai Tahun">
                              </div>
                            </div> 

                            <div class="col-lg-3">
                                <div class="form-group">
                                  <input type="text" name="jabatan" id="jabatan" value="${e.jabatan}" class="form-control" placeholder="Jabatan">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                  <button class="btn btn-danger hapusPengalaman" data-id='${i}'>Hapus</button>
                                </div>
                            </div>

</div>
      `)
      i++
    })
  }

  function tambahPdk(pendidikan){
    let i = 0
    $("#pendidikan").html("")
    pendidikan.forEach(e => {
      console.log(e)
      $("#pendidikan").append(`
        <div class="row mg-b-10">
                          <div class="col-lg-3">
                            <div class="form-group">
                              <input type="text" name="pendidikan" id="pendidikan" value="${e.pendidikan}" class="form-control" placeholder="Pendidikan">
                            </div>
                        </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                  <input type="text" name="lembaga" id="lembaga" value="${e.nama}" class="form-control" placeholder="Nama Lembaga Pendidikan">
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group">
                                  <input type="text" name="kota" id="kota_lembaga" value="${e.nama_koka}" class="form-control" placeholder="Kota">   
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group">
                                  <input type="text" name="dtahun" id="dtahun_lembaga" value="${moment(e.dari_tahun,"DD-MM-YYYY").format("DD-MM-YYYY")}" class="form-control tgl2" placeholder="Dari Tahun">
                                </div>
                            </div> 

                            <div class="col-lg-2">
                              <div class="form-group">
                                <input type="text" name="stahun" id="stahun_lembaga" value="${moment(e.sampai_tahun,"DD-MM-YYYY").format("DD-MM-YYYY")}" class="form-control tgl2" placeholder="Sampai Tahun">
                              </div>
                            </div> 

                            <div class="col-lg-3">
                                <div class="form-group">
                                  <input type="text" name="jurusan" id="jurusan" value="${e.jurusan}" class="form-control" placeholder="Jurusan">
                                </div>
                            </div>

                            <div class="col-lg-3">
                              <div class="form-group">
                                <input type="text" name="gelar" id="gelar" value="${e.gelar}" class="form-control" placeholder="Gelar">
                              </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                  <button class="btn btn-danger hapusPendidikan" data-id='${i}'>Hapus</button>
                                </div>
                            </div>
                        </div>
      `)
      i++
    })
  }


// <------------------------------------------------------------------->

  
    function finished(e){
      const token = document.querySelector("[name=csrfmiddlewaretoken]").value
      const nama = $("#nama").val()
      const gender = $("#gender").val()
      const tgl_masuk = moment($("#tgl_masuk").val(),"DD-MM-YYYY").format("YYYY-MM-DD")
      const nik = $("#nik").val()
      const userid = $("#userid").val()
      const div = $("#div").val()
      const counter = $("#counter").val()
      const jabatan = $("#jabatan").val()
      const kk = $("#kk").val()
      const hr = $("#hr").val()
      const ca = $("#ca").val()
      const rek = $("#rek").val()
      const payroll = $("#payroll").val()
      const nks = $("#nks").val()
      const ntk = $("#ntk").val()
      const pks = $("#pks").val()
      const ptk = $("#ptk").val()
      const id = $("#id").val()
      // Data Pribadi
      const alamat = $("#alamat").val()
      const phone = $("#phone").val()
      const email = $("#email").val()
      const kota_lahir = $("#kota_lahir").val()
      const tgl_lahir = moment($("#tgl_lahir").val(),"DD-MM-YYYY").format("YYYY-MM-DD")
      const tinggi = $("#tinggi").val() ? $("#tinggi").val().split(",").join(".") : 0 
      const berat = $("#berat").val() ? $("#berat").val().split(",").join(".") : 0
      const goldarah = $("#goldarah").val()
      const agama = $("#agama").val()

      // Keluarga & Pihak
      const keluarga = localStorage.getItem("data_keluarga")
      const pihak = localStorage.getItem("data_pihak")
      const pengalaman = localStorage.getItem("data_pengalaman")
      const pendidikan = localStorage.getItem("data_pendidikan")

      $.ajax({
        url:`{% url "edit_pegawai" id %}`,
        method:"post",
        data:{nama,gender,tgl_masuk,nik,userid,div,counter,jabatan,kk,hr,ca,rek,payroll,nks,ntk,pks,ptk,keluarga,pihak,pengalaman,pendidikan,alamat,phone,email,kota_lahir,tgl_lahir,tinggi,berat,goldarah,agama,id},
        headers:{"X-CSRFToken":token},
        success:(e) => {
          console.log(e)
          window.location = "{% url 'pegawai' sid %}"
          console.log('sd')
        }
      })
    }

</script>

{% endblock hrd_ajax %}